.form-appr {
    margin-top: 10px;

}

.box-v-ats {
    padding-bottom: 0px !important;
}

.widthProEnd {
    width: 300px !important;
    white-space: pre-wrap !important;
}

.ats-forms.ats-forms-horz4 .ats-form-col {
    width: 33.3% !important;
}

.ats-forms.ats-forms-horz3 .ats-form-col {
    width: 41.3% !important;
    margin-bottom: -10px !important;
}

.disable-select {
    pointer-events: none !important;
    opacity: 76%;
    cursor: not-allowed !important;
}

// .disable-select .mat-select {

// }