.ats-modal-header {
    padding: 10px 10px !important;
    height: 45px !important;
    h1 {
        font-size: 14.5px !important;
        margin: 0 !important;
        //position: absolute !important;
       // top: -6px !important;
    }
}