.vs-cs-modal-content{
    p{
        font-size: 12px;
        line-height: 22px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
}

.btn-simple-ats{
        background: #2370a7;
    color: #fff;
    border: solid 1px #216595;
}
.tblvb {
   td{
    padding: 20px 5px;
   }
}

.text-align-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.width-80 {
    width: 80px;
}

.vertical-align-middle {
    vertical-align: middle;
}

.sign-wrap-positioned {
    width: 200px;
    position: relative;
}

.icon-edit-absolute {
    position: absolute;
    top: 0;
    right: -11px;
}