.fx-dr{
    flex-direction: column;
}

.check-filter{
    margin-bottom: 10px;
    color: #626262;
}

// .slider-exp-control {
//     border: solid #55cbf3 1.2px;
//     padding: 4px 12px;
//     border-radius: 4px;
//     margin-top: 2px;
//     .ngx-slider {
//         height: 0 !important;
//         margin: 9px 0 14px !important;
//         .ngx-slider-pointer {
//             background: #0db9f0 !important;
//         }
//     }
// }
