// $clrbas: #1f9b9f;
.aprover-dt-list{
    max-height: 300px;
}

.mat-dialog-container {
    width: 41% !important;
}

.colm{
    width: 15%;
}

.btn-action {
    justify-content: center;
}

.box-v-ats .box-v-header {
    border-bottom: none !important;
}

.table-mat-info .th-mat-h {
    padding: 7px 5px !important;
}