.view-list-dt-appr .view-list-bx {
    width: 33.33% !important;
}
.box-v-ats {
      padding-bottom: 0 !important;
  }

  mat-grid-tile {
    background: lightblue;
  }
  .mail-title{
    color: #1a38a7;
    font-family: Montserrat-SemiBold;
    font-size: 12px;
    padding: 10px 10px
  }
  .m-txtarea{
    height: 200px;
  }

  .remark-ht-wt{
    height: 120px;
    // width: 50% !important;
  }

  .remark-wt{
    width: 50% !important;
  }

  .full-width {
    width: 100%;
  }