<div class="wrapper-padding">
     <div class="view-list-dt-wrap view-list-dt-appr box-shadow-c">
          <div class="view-list-bx tabl-sec-nms full-width">
            <h4 class="pn-mt-sk">Matching Skills :</h4>
            <div class="quest-auto-view">
              <table mat-table [dataSource]="dataResume?.Ratings" class="table-mat-info table-mat-info-fdp">
                <ng-container matColumnDef="Skill">
                  <th mat-header-cell *matHeaderCellDef> Skill </th>
                  <td mat-cell *matCellDef="let element;">
                    {{element?.name || '-'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="SkillType">
                  <th mat-header-cell *matHeaderCellDef> Skill Type </th>
                  <td mat-cell *matCellDef="let element;">
                    {{element?.type || '-'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="RatingDemand">
                  <th mat-header-cell *matHeaderCellDef> Proficiency Level</th>
                  <td mat-cell *matCellDef="let element">
                    {{ getProficiencyName(element?.skillProficiencyLevel) }}
                    <!-- {{ element?.skillProficiencyLevel | skillProficiency }} -->
                    <!-- <ng-container [ngSwitch]="element?.skillProficiencyLevel">
                      <ng-container *ngSwitchCase="1">Beginner</ng-container>
                      <ng-container *ngSwitchCase="2">Intermediate</ng-container>
                      <ng-container *ngSwitchCase="3">Advanced</ng-container>
                      <ng-container *ngSwitchCase="4">Expert</ng-container>
                      <ng-container *ngSwitchDefault>-</ng-container>
                    </ng-container> -->

                  </td>
                </ng-container>

                <ng-container matColumnDef="Rating">
                  <th mat-header-cell *matHeaderCellDef> Rating (AI)</th>
                  <td mat-cell *matCellDef="let element" class="text-right">
                    {{element?.rating}}
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumnsGenAI1;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsGenAI1;let i = index"></tr>
              </table>
              <app-no-result-found *ngIf="dataResume?.Ratings?.length === 0">
              </app-no-result-found>
            </div>
          </div>
          <!-- end -->
          <div class="view-list-bx ovlsc">
            <h4>Mandatory Skill Rating :</h4>
            <p>{{dataResume?.mandatoryRating}}</p>
          </div>
          <!-- end -->
          <div class="view-list-bx ovlsc">
            <h4>Good To Have Skill Rating :</h4>
            <p>{{dataResume?.goodToHaveRating}} </p>
          </div>
          <!-- end -->
          <div class="view-list-bx ovlsc">
            <h4>Overall Rating :</h4>
            <p>{{dataResume?.overallRating}}</p>
          </div>
          <!-- end -->
          <div class="view-list-bx ovlsc">
            <h4>Profile Match (%) :</h4>
            <p>{{ dataResume?.overallPercentage }} %</p>
          </div>
          <!-- end -->


          <div class="view-list-bx ovlscRec">
            <h4>Recommendation :</h4>
            <p>{{dataResume?.Recommendation || '-'}}</p>
          </div>
          <!-- end -->




        </div>

        <div class="not-wrapper">
      <h3>Reference:</h3>
      <ul class="reference-list">
        <li><strong>Mandatory Skill Rating:</strong> Average rating of all mandatory skills.</li>
        <li><strong>Good to Have Skill Rating:</strong> Average rating of all good-to-have skills.</li>
        <li><strong>Overall Rating:</strong> Weighted score combining 80% from mandatory skills and 20% from
          good-to-have skills.</li>
        <li><strong>Profile Match (%):</strong> Percentage of required skills matched, considering presence and
          proficiency level.</li>
      </ul>

    </div>
</div>