image-cropper {
   max-height: 50vh;
 }
 .upload-input-sec{
   margin-bottom: 10px;
   text-align: center;
   display: flex;
   justify-content: center;
 }

 input[type=file] {
  border: 1px solid #088d7a;
  box-shadow: 1px 3px 4px rgb(162 155 254);
}
input[type=file]::file-selector-button {
  border: 1px solid #088d7a;
  padding: .3em .4em;
  background-color: #088d7a;
  transition: 1s;
  color: #fff;
}

input[type=file]::file-selector-button:hover {
  background-color: #1d4794;
  border: 1px solid #1d4794;
}

