.mat-column-action{
    // width: 120px;
}

.btn-status-dg.schedule{
    background: yellow !important;
    border-color: #eaea09 !important;
    color: #3e3723 !important;
}

.dangr{
    color: red;
}

.list-style-none {
    list-style-type: none;
}

.margin-left-26 {
    margin-left: 26px;
}

.list-style-square {
    list-style-type: square;
}

.text-align-left {
    text-align: left;
}
