// :host::ng-deep.tech-hgl{
//     background: yellow;
// }
 .tech-hgl {
    background: #257272 !important;
   // color: #000 !important;
}
.mng-hgl{
    background: #67eaff !important;
    color: #000 !important;
}

.mngmm-hgl{
    background: #5c65bc !important;
   // color: #000 !important;
}

.hr-hgl{
    background: #f7ff5c !important;
    color: #000 !important;
}

.hr-day1{
    background: #f7ff5c !important;
    color: #000 !important;
}

.hr-day1{
    background: #5cffe1 !important;
    color: #000 !important;
}
.hr-day7{
    background: #5cffe1 !important;
    color: #000 !important;
}
.iss-day1{
    background: #c9d6ff !important;
    color: #000 !important;
}

.rm-day1{
    background: #d2c1ff !important;
    color: #000 !important;
}