<div class="ats-modal-header">
    <h1>{{'History of Application'}}</h1>
    <button class="btn-m-close" (click)="onNoClick()"><i class="fa fa-times"></i></button>
    <mat-progress-bar mode="query" class="res-progress" *ngIf="isloader"></mat-progress-bar>
</div>
<div mat-dialog-content>

    <div class="ats-modal-body">
        <div class="profile-list-wrapper">
            <!-- <div class="header-s">
                <div class="left-s-av"></div>
                <div class="search-bars">
                    <div class="filter-at-wrapper">
                        <div class="s-fil">
                        </div>
                        <div class="s-fil">
                            <div class="act-header-btn">
                                <ul>
                                    <li class="dash-dnld-icon">
                                        <a href="javascript:void(0)"
                                            [ngClass]="{'disable-dowlnd-btn': talentHistoryList?.length === 0}"
                                            (click)="exportAsXLSX()">
                                            <span class="material-icons-outlined" matTooltip="Download History">
                                                download

                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="table-data-scroll-pop min-height-200">
                <table mat-table [dataSource]="talentHistoryList" class="table-mat-info" id="exportTable">
                    <ng-container matColumnDef="srNo">
                        <th mat-header-cell *matHeaderCellDef>S. No</th>
                        <td mat-cell *matCellDef="let element; let i=index" class="text-center"> {{i+1}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="ProposedBy">
                        <th mat-header-cell *matHeaderCellDef>Proposed By</th>
                        <td mat-cell *matCellDef="let element">
                            {{element?.ProposedBy || '-'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="ProposedOn">
                        <th mat-header-cell *matHeaderCellDef>Proposed On</th>
                        <td mat-cell *matCellDef="let element">
                            {{element?.ProposedOn ? (element?.ProposedOn | date: 'MMM d, y, h:mm a') : '-'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="SelectedRejectedBy">
                        <th mat-header-cell *matHeaderCellDef>Selected/Rejected By</th>
                        <td mat-cell *matCellDef="let element"> {{element?.SelectedRejectedBy || '-'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="SelectedRejectedOn">
                        <th mat-header-cell *matHeaderCellDef>Selected/Rejected On</th>
                        <td mat-cell *matCellDef="let element">
                            {{element?.SelectedRejectedOn ? (element?.SelectedRejectedOn | date: 'MMM d, y, h:mm a') : '-'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="statusName">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element"> {{element?.statusName || '-'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="ProposalRemarks">
                        <th mat-header-cell *matHeaderCellDef>Proposal Remarks</th>
                        <td mat-cell *matCellDef="let element"> {{element?.ProposalRemarks || '-'}}</td>
                    </ng-container>
                     <ng-container matColumnDef="RejectionReason">
                        <th mat-header-cell *matHeaderCellDef>Select/Reject Remarks</th>
                        <td mat-cell *matCellDef="let element"> {{element?.RejectionReason || '-'}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>
                </table>
                <app-no-result-found [searchedValue]="searchInput"
                    *ngIf="talentHistoryList?.length === 0"></app-no-result-found>
            </div>
        </div>
    </div>
</div>

<!-- <div class="ats-modal-footer">
      <app-custom-paginator [total]="paginationData?.Total" (sendPagingData)="getPagingData($event)"
        [pageSizeOptions]="pazeOption" [pageSize]="pazeSize"></app-custom-paginator>
    </div>  -->