<form [formGroup]="joineeStatusForm" (ngSubmit)="submitJoineeStatusForm(joineeStatusForm)">
    <div class="ats-modal-header">
        <h1>{{data?.title}}</h1>
        <button class="btn-m-close" type="button" (click)="closeModal()"><i class="fa fa-times"></i></button>
    </div>
    <div mat-dialog-content>
        <div class="ats-modal-body">
            <div class="box-v-ats">
                <div class="box-v-body">
                    <div class="view-list-dt-wrap view-list-dt-appr view-list-dt-3 box-shadow-c">
                        <div class="view-list-bx">
                            <h4>Candidate Name:</h4>
                            <p>{{data?.Name|| '-'}}</p>
                        </div>
                        <!-- end -->
                        <div class="view-list-bx">
                            <h4>Candidate Email:</h4>
                            <p>{{data?.email|| '-'}}</p>
                        </div>
                        <!-- end -->
                        <div class="view-list-bx">
                            <h4>Tentative Joining date:</h4>
                            <p>{{data?.joiningDate | date:'dd MMM YY'}}</p>
                        </div>
                        <!-- end -->
                        <div class="view-list-bx">
                            <h4>Confirmation DOJ:</h4>
                            <p>
                                {{(data?.confirmJoinDate | date:'dd MMM YY') || '-'}}
                            </p>
                        </div>
                        <!-- end -->
                    </div>
                </div>
            </div>

            <div class="form-up">
                <div
                    class="ats-forms ats-forms-horz  ats-form-normal-font ats-forms-horz2 form-outline-ats ats-form-dark">

                    <div class="ats-form-col">
                        <mat-form-field appearance="outline" class="place-from-control mat-hint-p" floatLabel="always">
                            <mat-label>Infogain Email ID</mat-label>
                            <!-- <span matSuffix>&nbsp; @infogain.com</span> -->
                            <input matInput placeholder="Email" disableSpace  formControlName="emailId" required
                            maxlength="200">
                            <mat-error *ngIf="getControl('emailId')?.touched && getControl('emailId')?.invalid">
                                <div *ngIf="getControl('emailId')?.errors.required">
                                    <span class="remarText">Email Id is required.</span>
                                </div>
                                <div *ngIf="getControl('emailId')?.errors.email">
                                    <span class="remarText">Please enter valid Email Id.</span>
                                </div>
                                <div *ngIf="getControl('emailId')?.errors.pattern">
                                    <span class="remarText">Please enter valid Email Id.</span>
                                </div>
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class="ats-form-col">
                        <mat-form-field appearance="outline" class="place-from-control prefix-inp mat-hint-p"
                        >
                        <span matPrefix>IGGLOBAL\&nbsp;</span>
                            <mat-label>Domain ID</mat-label>
                            <input matInput placeholder="Domain" disableSpace validationSpecialCharacter formControlName="domainId"
                                required maxlength="200">
                                <!-- <mat-hint align="end">Please enter Domain ID without <b>IGGLOBAL</b>.</mat-hint> -->
                            <mat-error *ngIf="getControl('domainId')?.touched && getControl('domainId')?.invalid">
                                <div *ngIf="getControl('domainId')?.errors.required">
                                    <span class="remarText">Domain Id is required.</span>
                                </div>
                                <div *ngIf="getControl('domainId')?.errors.pattern">
                                    <span class="remarText">Please enter valid Domain Id.</span>
                                </div>
                            </mat-error>
                        </mat-form-field>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="ats-modal-footer text-center">
        <button type="submit" class="btn btn-infocon" [disabled]="!joineeStatusForm.valid">
            {{data['key'] === 1?'Update':'Submit'}}
        </button>
        <button type="button" class="btn btn-simple-ats" (click)="closeModal()">Cancel
        </button>
    </div>
</form>