.ats-preview-media-model{
//    width:80% !important;
   .video-player-wrapper{
    width: 100%;
    position: relative;
    height:50vh;
       video{
           width: 100% !important;
           max-height:100%;
           min-width: 100%; 
           min-height:100%; 
           object-fit: fill;
           position: absolute;
           top:0px;
           left:0px;
           height: 100%;
           width: 100%;
           border: none;
       }
   }
}

.video-controller{
   text-align: center;
   ul{
      @include resetUl();
      @include flexbox();
      justify-content: center;
      li{
         margin-right: 5px;
         a{
            .material-icons{
               font-size: 32px;
               color: #0a71b9;
            }
         }
      }

   }
}


