.tx-h{
    padding: 2px 10px;
    margin: 0;
    font-size: 11px;
    background: #ffff93;
    margin-top: 8px;
    display: inline-block;
    color: #3c0404;
}

.tx-h-red{
    padding: 2px 10px;
    margin: 0;
    font-size: 11px;
    background: #ed3c1c;
    margin-top: 8px;
    display: inline-block;
    color: #f4f0f0;
}