<form [formGroup]="formTransfer" (ngSubmit)="TransferTalent(formTransfer)">
    <div class="ats-modal-header ata-text-cap">
        <h1>{{data?.title}}</h1>
        <button class="btn-m-close" type="button" (click)="closeModal()"><i class="fa fa-times"></i></button>
    </div>
    <div mat-dialog-content>
        <div class="ats-modal-body">
            <input type="hidden" formControlName="telentId">
            <div class="ats-forms ats-forms-horz">
                <div class="ats-form-col search-input">
                    <app-auto-complete-talentid [isShowSearchIcon]="false"
                        [talentIdControl]="formTransfer.get('talendIdControl')"
                        (getDataTalentId)="getDataTalent($event)" [required]="true"></app-auto-complete-talentid>
                </div>
                <!-- end col -->

                <div class="ats-form-col">
                    <mat-form-field>
                        <input matInput placeholder="Remarks" maxlength="500" formControlName="remarksTransfer"
                            disableInitialSpace required>
                    </mat-form-field>
                </div>
                <!-- end col -->
            </div>

        </div>
    </div>
    <div class="ats-modal-footer">
        <button type="submit" class="btn btn-infocon">
            Submit
        </button>
        <button type="button" class="btn btn-simple-ats" (click)="closeModal()">Cancel
        </button>
    </div>
</form>