.cand-ot-table{
    table{
        width:100%;
        th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
            padding: 4px 4px;
            font-size: 13px;
        }
    }
}

.full-width {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.text-red {
    color: red;
}