// .ats-confirm .mat-dialog-content {
//     padding: 18px 20px 0px 20px !important;
// }

.alert-msg-popup-ext {
    .icon-wrapper {
        text-align: center;
        color: #2c73a5;
    }

    .ats-confirm .mat-dialog-content {
        padding: 18px 20px 0px 20px !important;
    }

    .mat-dialog-actions {
        min-height: 52px !important;
    }

}