.view-list-dt-appr .view-list-bx h4
 {
    font-size: 12px;
 }
 .tabl-sec-nms{
     h4{
        padding: 10px 0px;
     }
 }

 .quest-auto-view{
   .table-mat-info{
      width: auto;
      min-width: 190px;
   }
 }

 .view-list-dt-wrap{
   .ovlsc{
      width: 118px;
     width: (100% / 4);
   }
   .ovlscRec{
      width: calc(100% - 118px);
   }
 }

 .not-wrapper{
   background: #fffff1;
    padding: 10px;
   h3{
       font-size: 12px;
      // font-weight: 600;
       color: #000;
       margin-bottom: 10px;
   }
   ul{
      li{
         font-size: 11px;
         color: #000;
         margin-bottom: 5px;
         line-height: 1.5;
      }
   }
 }

.full-width {
  width: 100%;
}

.reference-list {
  padding-left: 1rem;
  line-height: 1.8;
}