<div class="form-row" *ngIf="!isMultiple">
  <mat-form-field [appearance]="formFieldAppearance" [floatLabel]="floatLabel" class="place-from-control">
    <mat-label appRemoveAriaOwns >{{statusTitle}}</mat-label>
    <mat-select [formControl]="ijpStatusControlOpt" (selectionChange)="getSelectId($event)">
      <mat-option value="all">All</mat-option>
      <mat-option *ngFor="let list of statusData " [value]="list?.id">{{list?.statusName}}</mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div class="select-ats-src" *ngIf="isMultiple">
  <mat-form-field [appearance]="formFieldAppearance" [floatLabel]="floatLabel">
    <mat-label appRemoveAriaOwns >{{statusTitle}}</mat-label>
    <mat-select [formControl]="ijpStatusControlOpt" [disableOptionCentering]="true" [required]="required" multiple
      #select>
      <mat-select-trigger>
        {{multiSelectedVal?.length !== 0 ? multiSelectedVal[0]?.viewValue : ''}}
        <span *ngIf="ijpStatusControlOpt?.value?.length > 1" class="example-additional-selection">
          (+{{multiSelectedVal.length - 1}} {{ijpStatusControlOpt?.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <br>
      <!-- <mat-option>
                <ngx-mat-select-search class="mat-selec-search-youxta" [formControl]="FilterCtrlGrade"
                    [noEntriesFoundLabel]="'No record Found'" [placeholderLabel]="placeholder"
                    [clearSearchInput]="false">

                </ngx-mat-select-search>
            </mat-option> -->
      <div class="select-all">
        <mat-checkbox [(ngModel)]="allSelected" (change)="toggleAllSelection()">Select All</mat-checkbox>
      </div>
      <mat-option *ngFor="let list of statusData " [value]="list.id" (click)="optionClick()">
        {{list?.statusName}}
      </mat-option>
    </mat-select>

  </mat-form-field>
</div>