.error-aprrove-Reject{
    display: inline-block !important;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
    margin-top: 0 !important;
}
.remark-wrap{
  //  margin-top: 2px !important;
  textarea#mat-input-4{
    height: 47px !important;
  }
}
.error-aprrove-Reject{
marggin-top: 4px !important;
}

.margin-top-4 {
    margin-top: 4px;
}

.width-280 {
    width: 280px;
}
