<div class="info-connect-right">
    <div class="page-content-wrapper">
        <div class="page-container-inner">
            <div class="page-container-header clearfix">
                <div class="page-title-left float-left">
                    <app-breadcrumbs></app-breadcrumbs>
                </div>
                <div class="search-input float-left">
                </div>
                <!-- end search field -->
            </div>
            <!-- end content header -->
            <div class="content-body">
                <mat-card>
                    <div class="card">
                        <div class="card-header  card-header-flex">
                            <div class="ats-left-h">
                                <div class="filter-txt-opt">
                                   
                                </div>
                            </div>
                            <div class="erp-search-input ats-right-h">
                                <div class="filter-at-wrapper">
                                    <div class="s-fil">
                                        <app-search-filter (sendKeyValue)="getSearchValueKey($event)"
                                            [placeHolder]="'Search By Name'" [searchServerSide]="true"
                                            [isReset]="isResetSearch"></app-search-filter>
                                    </div>
                                    <div class="s-fil">
                                        <div class="act-header-btn">
                                            <ul>  
                                                <!-- <li>
                                                    <button mat-button class="act-button" matTooltip="Download Company List"
                                                        (click)="exportAsXLSX()">
                                                        <span class="material-icons-outlined">
                                                            download
                                                        </span>
                                                    </button>
                                                </li>                                               -->
                                                <li >
                                                  <button type="button" class="btn btn-infocon" (click)="addNewPanelModal({})">
                                                    Add Panel<i class="fa fa-chair"></i>
                                                  </button>
                                                </li>
                                                <li>
                                                    <app-filter-sort [form]="sortFormFilter" [isResetForm]="isResetFilter"
                                                    [account]="true" [accountMulti]="true" [prSkill]="true" [skillMulti]="true"
                                                    [isExperinceSlider]="true" (getSortFormData)="getSortData($event)">
                                                    </app-filter-sort> 
                                                </li>  
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <!-- matrial Table -->
                            <div class="table-scroll-bd">
                                <table mat-table [dataSource]="panelList" class="table-mat-info">
                                  
                                    <ng-container matColumnDef="PanelName">
                                        <th class="compny-name-width" mat-header-cell *matHeaderCellDef> Name </th>
                                        <td class="text-centerf" mat-cell *matCellDef="let element;">
                                            {{element?.PanelName || '-'}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="PanelEmpId">
                                        <th class="alignment-column cid-col-width" mat-header-cell *matHeaderCellDef>Employee Id</th>
                                        <td class="text-centerf" mat-cell *matCellDef="let element;">                                     
                                          {{element?.PanelEmpId || '-'}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Email">
                                        <th class="alignment-column cid-col-width" mat-header-cell *matHeaderCellDef>Email</th>
                                        <td class="text-centerf" mat-cell *matCellDef="let element;">                                     
                                          {{element?.PanelEmail || '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Grade">
                                        <th class="alignment-column cid-col-width" mat-header-cell *matHeaderCellDef>Grade</th>
                                        <td class="text-centerf" mat-cell *matCellDef="let element;">                                     
                                          {{element?.GradeIdName || '-'}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="exp">
                                        <th class="alignment-column cid-col-width" mat-header-cell *matHeaderCellDef>Total Experience</th>
                                        <td class="text-centerf" mat-cell *matCellDef="let element;">                                     
                                            {{element?.EMP_INDEXP_YRS+ ' Years'}} 
                                            {{element?.EMP_INDEXP_MTH+ ' Months'}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Account">
                                        <th class="alignment-column cid-col-width" mat-header-cell *matHeaderCellDef>Account</th>
                                        <td class="text-centerf" mat-cell *matCellDef="let element;">                                     
                                          {{element?.AccountName || '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Skill">
                                        <th class="alignment-column cid-col-width"  mat-header-cell *matHeaderCellDef>Skill</th>
                                        <td class="text-centerf" mat-cell *matCellDef="let element;">                                     
                                          {{element?.SkillName || '-'}}
                                          <!-- {{(element?.SkillName | date:'mediumDate') || '-'}} -->
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="AddedOn">
                                        <th class="alignment-column cid-col-width"  mat-header-cell *matHeaderCellDef>Added On</th>
                                        <td class="text-centefr" mat-cell *matCellDef="let element;">
                                          {{(element?.AddedOnUTC |  date:'dd MMM yyyy') || '-'}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="AddedBy">
                                        <th class="alignment-column cid-col-width"  mat-header-cell *matHeaderCellDef>Added By</th>
                                        <td  mat-cell *matCellDef="let element;">                                     
                                          {{element?.AddedbyName || '-'}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="status">
                                        <th class="alignment-column" mat-header-cell *matHeaderCellDef>Status</th>
                                        <td class="text-center" mat-cell *matCellDef="let element;">                                     
                                            <ng-container *ngIf="element?.isActive == 1 ; else newDeb" >
                                                <button class="btn-status-dg offergen" type="button">
                                                    Active
                                                </button>
                                            </ng-container>
                                            <ng-template #newDeb>
                                                <button class="btn-status-dg rejects" type="button">
                                                    Inactive
                                                </button>
                                            </ng-template>
                                       
                                        </td>
                                       
                                    </ng-container>
                                    
                                    <!-- end -->
                                    <ng-container matColumnDef="action" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="action-td">
                                                <mat-slide-toggle class="mat-togglt-act"
                                                [checked]="element?.isActive === 1"
                                                (change)="confirmAlertActiveDeactive($event,element)"
                                                [matTooltip]="element?.isActive === 1?'Inactive':'Active'">
                                            </mat-slide-toggle>
                                                <!-- <div class="btn-action btn-action-center btn-single">
                                                    <ng-container>
                                                        <div class="btn-act">
                                                            <button mat-button type="button"
                                                                matTooltip="Update"
                                                                (click)="editPanel(element)" >
                                                                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </ng-container>
                                                </div> -->
                                               
                                            </div>
                                        </td>
                                 </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>
                                </table>
                                <app-no-result-found [searchedValue]="searchInput"
                                    *ngIf="(panelList?.length === 0)">
                                </app-no-result-found>
                            </div>
                            <div class="ats-paging-sec">
                                <app-custom-paginator #paginatorRef [total]="paginationData?.Total"
                                    [jumpFirstPage]="jumpFirstPage" (sendPagingData)="getPagingData($event)">
                                </app-custom-paginator>
                            </div>

                        </div>

                    </div>
                    <!-- end card sec -->
                </mat-card>
            </div>
            <!-- end content body -->
        </div>
        <!-- end inner container -->

    </div>
    <!-- end page content wrapper -->
</div>
<!-- end right wrapper -->