.tx-h{
    padding: 2px 10px;
    margin: 0;
    font-size: 11px;
    background: #ffff93;
    margin-top: 3px;
    display: inline-block;
    color: #3c0404;
}
.disabled-inhand{
    pointer-events: none;
    opacity: 0.6;
}