<ng-container [formGroup]="form">
    <div class="auth-form-row">
        <mat-form-field appearance="outline" class="ats-from-control"  popoverClass="password-suggestion password-suggestion-for" placement="right top"  [ngbPopover]="popContent" [autoClose]="false" container="body" triggers="focus:blur">
            <mat-label>{{passText}}</mat-label>
            <input matInput  name="password" autocomplete="new-password" [type]="hide ? 'password' : 'text'"  required formControlName="password" >
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error class="form-error" *ngIf="(password?.touched || password?.dirty) && password?.invalid">
               <span *ngIf="password?.errors?.required">
                Please enter {{passText}}.
               </span>
           </mat-error>
           <mat-error class="form-error" *ngIf="isPasswordError">
            <span>
                {{passwordErrorMessage}}
            </span>
        </mat-error>
        
        </mat-form-field>
        
    </div>
    <!-- end row -->

    <div class="auth-form-row">
        <mat-form-field appearance="outline" class="ats-from-control">
            <mat-label>Confirm Password</mat-label>
            <input matInput required type="password" formControlName="confirmPassword" autocomplete="new-password">
            <mat-icon matSuffix class="secondary-text" *ngIf="confirmPassword?.invalid">vpn_key </mat-icon>
            <mat-icon matSuffix class="secondary-text pass-suc" *ngIf="!confirmPassword?.invalid">verified</mat-icon>
            <mat-error class="form-error"
            *ngIf="confirmPassword?.pristine || confirmPassword?.errors">
            <span *ngIf="confirmPassword?.errors?.required">
                Please enter confirm password.
            </span>
            <span *ngIf="confirmPassword?.errors?.MatchPassword">
                Password entered doesn’t match, Please try again.
            </span>
        </mat-error>
        </mat-form-field>
    </div>
    <!-- end row -->
</ng-container>


<ng-template #popContent>
    <div class="pass-term">
        <h4>Password must meet the following requirements:</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" [ngClass]="{ 'act': minLen }">
                <span class="material-icons icon-pg icon-pg-error"> highlight_off </span>
                <span class="material-icons icon-pg icon-pg-ok">check_circle </span>
                Password should be at least 6 characters long.
            </li>
            <li class="list-group-item" [ngClass]="{ 'act': minUpper }">
                <span class="material-icons icon-pg icon-pg-error"> highlight_off </span>
                <span class="material-icons icon-pg icon-pg-ok">check_circle </span>
                Min. 1 UPPERCASE alphabet required.</li>
            <li class="list-group-item" [ngClass]="{ 'act': minLower }"><span class="material-icons icon-pg icon-pg-error"> highlight_off </span>
                <span class="material-icons icon-pg icon-pg-ok">check_circle </span>
                Min. 1 lowercase alphabet required.</li>
            <li class="list-group-item" [ngClass]="{ 'act': minNumber }">
                <span class="material-icons icon-pg icon-pg-error"> highlight_off </span>
                <span class="material-icons icon-pg icon-pg-ok">check_circle </span>Min. 1 numeric character required.</li>
        </ul>
    </div>
</ng-template>
