

.view-list-dt-appr .view-list-bx {
    width: 30% !important;
}

.font-size-s{
    font-size: 18px !important;
}
.mat-form-field {
    // font-size: 1px !important; 
    }

    .box-v-ats {
        //  padding: 11px !important;
          padding-bottom: 0 !important;
      }

.width-280 {
    width: 280px;
}