:host ::ng-deep .pre-view-s {
    margin-top: 4px !important;
    font-size: 13px !important;
    word-spacing: 1px;
    white-space: pre-wrap;
    p{
        // margin: 0;
    }

    ul{
        list-style-type: unset;
        margin-left: 20px;
        li{
            float: none;
        }
    }
}