<div class="ats-modal-header">
    <h2> Understanding Proficiency Levels
    </h2>
    <button class="btn-m-close" type="button" (click)="closeModal()"><i class="fa fa-times"></i></button>
</div>
<div mat-dialog-content>
    <div class="ats-modal-body">
        <div class="view-level-dc">
            <ol>
                <li>
                    <h3>Beginner</h3>
                    <div class="sub-lvl-ct">
                        <ul>
                            <li>
                                <label>Definition:</label>
                                Limited knowledge or experience; requires guidance and supervision.
                            </li>
                            <li>
                                <label>Indicators:</label>
                                <ul>
                                    <li>
                                        Understands basic concepts but struggles with practical application.
                                    </li>
                                    <li>
                                        Relies heavily on instructions and mentoring.
                                    </li>
                                    <li>
                                        Limited decision-making capability.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <label> Example Statement:</label>
                                "Can perform basic tasks under direct supervision."
                            </li>
                        </ul>
                    </div>

                </li>

                <li>
                    <h3>Intermediate (Developing)</h3>
                    <div class="sub-lvl-ct">
                        <ul>
                            <li>
                                <label>Definition:</label>
                                Moderate level of knowledge or experience; capable of handling routine tasks
                                independently.
                            </li>
                            <li>
                                <label>Indicators:</label>
                                <ul>
                                    <li>
                                        Can apply concepts to familiar situations with some guidance.
                                    </li>
                                    <li>
                                        Begins to show initiative and problem-solving skills in structured settings.
                                    </li>
                                    <li>
                                        Requires occasional support for complex or unfamiliar challenges.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <label> Example Statement:</label>
                                "Handles routine tasks independently but needs assistance for advanced or complex
                                problems."
                            </li>
                        </ul>
                    </div>

                </li>

                <li>
                    <h3>Proficient (Competent)</h3>
                    <div class="sub-lvl-ct">
                        <ul>
                            <li>
                                <label>Definition:</label>
                                Strong knowledge or experience; able to perform independently and efficiently.
                            </li>
                            <li>
                                <label>Indicators:</label>
                                <ul>
                                    <li>
                                        Confidently applies skills to both familiar and new situations.
                                    </li>
                                    <li>
                                        Demonstrates consistency in performance and quality.
                                    </li>
                                    <li>
                                        Occasionally seeks advice for advanced challenges but largely self-reliant.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <label> Example Statement:</label>
                                "Consistently delivers high-quality work with minimal supervision."
                            </li>
                        </ul>
                    </div>

                </li>

                <li>
                    <h3>Advanced (Expert)</h3>
                    <div class="sub-lvl-ct">
                        <ul>
                            <li>
                                <label>Definition:</label>
                                Extensive knowledge or experience; serves as a go-to person in their area of expertise.
                            </li>
                            <li>
                                <label>Indicators:</label>
                                <ul>
                                    <li>
                                        Solves complex problems and provides innovative solutions.
                                    </li>
                                    <li>
                                        Guides and mentors others; acts as a role model.
                                    </li>
                                    <li>
                                        Demonstrates a deep understanding of both theoretical and practical aspects.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <label> Example Statement:</label>
                                "Recognized as a subject matter expert and sought after for advice and guidance."
                            </li>
                        </ul>
                    </div>

                </li>

                <li>
                    <h3>Advanced (Expert)</h3>
                    <div class="sub-lvl-ct">
                        <ul>
                            <li>
                                <label>Definition:</label>
                                Extensive knowledge or experience; serves as a go-to person in their area of expertise.
                            </li>
                            <li>
                                <label>Indicators:</label>
                                <ul>
                                    <li>
                                        Solves complex problems and provides innovative solutions.
                                    </li>
                                    <li>
                                        Guides and mentors others; acts as a role model.
                                    </li>
                                    <li>
                                        Demonstrates a deep understanding of both theoretical and practical aspects.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <label> Example Statement:</label>
                                "Recognized as a subject matter expert and sought after for advice and guidance."
                            </li>
                        </ul>
                    </div>

                </li>
            </ol>
        </div>

    </div>
</div>
<div class="ats-modal-footer text-center">

    <button type="button" class="btn btn-simple-ats" (click)="closeModal()">
        Close
    </button>
</div>