<div class="info-connect-right">
    <div class="page-content-wrapper">
        <div class="page-container-inner">
            <div class="page-container-header clearfix">
                <div class="page-title-left float-left">
                    <app-breadcrumbs></app-breadcrumbs>
                </div>
                <div class="search-input float-left">
                </div>
                <!-- end search field -->
            </div>
            <!-- end content header -->
            <div class="content-body">
                <form [formGroup]="uploadItineraryForm" (ngSubmit)="submitUploadItineraryForm(uploadItineraryForm)">
                    <div class="ats-content-card">
                        <div class="ats-content-card-body">
                            <!-- <div class="ats-forms ats-forms-horz ats-forms-horz3 form-outline-ats ats-form-dark">
                                <app-partner-form [form]="partnerRegistrationForm"></app-partner-form>
                            </div> -->
                            <div mat-dialog-content>
                                <div class="ats-modal-body">
                                    
                                    <div class="form-up">
                                        <div
                                            class="ats-forms ats-forms-horz  ats-form-normal-font ats-forms-horz-itin form-outline-ats ats-form-dark">
                                                             
                                            <div class="ats-form-col">
                                                <mat-form-field appearance="outline" class="place-from-control">
                                                    <mat-label appRemoveAriaOwns >Division</mat-label>
                                                    <mat-select formControlName="divisionId" [required]="true" (selectionChange)="divisionChanged($event)">
                                                        <mat-option *ngFor="let list of divisionList" [value]="list?.ID">
                                                            {{list?.Name}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <!-- validate -->
                                                <!-- <mat-error *ngIf="getControl('divisionId')?.touched && getControl('divisionId')?.invalid">
                                                    <div *ngIf="getControl('divisionId')?.errors.required">
                                                        Division is required.
                                                    </div>
                                                </mat-error> -->
                                                <!-- validate ends-->
                        
                                            </div>
                                            <div class="ats-form-col">
                                                <mat-form-field appearance="outline" class="place-from-control">
                                                    <mat-label appRemoveAriaOwns >Location</mat-label>
                                                    <mat-select formControlName="locationId" [required]="true">
                                                        <mat-option *ngFor="let list of locationList" [value]="list?.LocID">
                                                            {{list?.LocName}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <!-- validate -->
                                                <!-- <mat-error *ngIf="getControl('locationId')?.touched && getControl('locationId')?.invalid">
                                                    <div *ngIf="getControl('locationId')?.errors.required">
                                                        Location is required.
                                                    </div>
                                                </mat-error> -->
                                                <!-- validate ends-->
                        
                                            </div>         
                                            <div class="ats-form-col">
                                                <mat-form-field appearance="outline" class="place-from-control">
                                                    <mat-label appRemoveAriaOwns >Onboarding Mode</mat-label>
                                                    <mat-select formControlName="onboardingMode" [required]="true">
                                                        <mat-option *ngFor="let list of onboardingModeList" [value]="list?.Value">
                                                            {{list?.Name}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <!-- validate -->
                                                <!-- <mat-error *ngIf="getControl('locationId')?.touched && getControl('locationId')?.invalid">
                                                    <div *ngIf="getControl('locationId')?.errors.required">
                                                        Location is required.
                                                    </div>
                                                </mat-error> -->
                                                <!-- validate ends-->
                        
                                            </div>         
                                            <div class="ats-form-col">
                                                <div class="l-al-r">
                                                    <button type="button" class="btn btn-add" (click)="viewItineraryDoc(uploadItineraryForm)">View Itinerary Document
                                                        &nbsp;<i class="fa fa-download"></i>
                                                    </button>
                                                </div>
                                            </div>                             
                                        </div>
                                        <div class="form-on-ats form-fill-ats">
                        
                                            <div class="form-on-col upload-file-onb width-480"
                                                [ngClass]="getControl('fileControl').touched && getControl('fileControl').invalid ? 'error-file-input':'suc'">
                                                <div class="upload-file-input">
                                                    <label>Please Upload Itinerary Document
                                                        <sup>*</sup>
                                                    </label>
                                                    <input type="file" formControlName="fileControl" (change)="fileUpload($event)"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                        </div>
                        <div class="ats-content-card-footer">
                            <button type="submit" class="btn btn-infocon">Submit
                                <i class="fa fa-save"></i>
                            </button>
                            <button type="button" class="btn btn-simple-ats" (click)="resetForm()">Reset
                                <i class="fa fa-refresh"></i>
                            </button>

                            <!-- <button type="button" class="btn btn-infocon" (click)="gotPartnerDetailsPage()">
                      View Partner List  <i class="fa fa-user"></i>
                    </button> -->
                        </div>

                    </div>
                </form>
            </div>
            <!-- end content body -->

        </div>
        <!-- end inner container -->

    </div>
    <!-- end page content wrapper -->
</div>
<!-- end right wrapper -->