.view-list-dt-appr .view-list-bx {
    width: 33.33% !important;
}

.box-v-ats {
    padding-bottom: 0 !important;
}

.mail-prev-sign {
    text-align: left !important;
    margin-left: 10px !important;
}

.mail-prev-sign-mt {
    text-align: left !important;
    margin-left: 10px !important;
    margin-top: 10px !important;
}

.mail-prev-body {
    margin-left: 40px !important;
    max-width: 400px !important;
    text-align: left !important;
}

.rm-cen {
    p {
        text-align: left;
    }
}
.mat-dialog-actions {
    padding: 0px 0px !important;
  }