.at-ct-inline{
    width: 100% !important;
    // border: 2px solid #54c9f0;
    // margin-bottom: 10px !important;
}
.nw-mb-20{
    margin-bottom: 20px !important;
}

.passport-pic-b{
    width: 120px !important;
    height: 140px !important;
}
.img-b{
    width: 100px !important;
    height: 120px !important;
}