.ats-main-wrapper{
    .home-page-wrap{
        padding: 6px 15px;
    }
    .footer-wrapper{
        background: radial-gradient(circle farthest-side, #2465c8, #043682);
    }
    .page-content-wrapper {
        padding-top: 0px;
    }
    .info-connect-body-wrapper{
        margin: 0;
        margin-top: 8px;
    }
    .info-connect-inner-wrapper{
        @include flexbox();
        justify-content: space-between;
        .ats-connect-left{
            width: 300px;
            height: 100%;
            background: #027ab6;
            background: linear-gradient(180deg,#4597e1 9%, #1950a3 59%);
            z-index: 999;
            transition: .2s linear;
            -webkit-transition: .2s linear;
            -moz-transition: .2s linear;
            -ms-transition: .2s linear;
            -o-transition: .2s linear;
            padding: 6px 6px;
            padding-right: 2px;
        }
        .info-connect-left{
            position: relative;
            top:0px;
            float: none;
            height: calc(100vh - 106px);
        }
        .ats-content-wrapper{
            width: calc(100% - 278px);
            transition:  width 0.7s ease;
            height: calc(100vh - 106px);
            overflow: auto;
            .info-connect-right{
                float: none;
                width:100%;
                height: auto;
                overflow: initial;
            }

            .page-container-header{
                background: #ffffff;
                display: flex;
                align-items: center;
            }
        }
    }
    
}

.small-side-bar{

    .ats-main-wrapper .info-connect-inner-wrapper .ats-connect-left{
        width:70px;
        background: white;
    }
    .ats-main-wrapper .info-connect-inner-wrapper .ats-content-wrapper{
        width: calc(100% - 76px);
    }
    .ats-sidbar-wrap{
        .sidebar-header-ats{
            padding: 2px 3px;
            justify-content: center;
            .at-m-title{
               label{
                font-size: 12px;
                text-transform: uppercase;
               }
               .ath{
                   display: none;
               }
            }
            .at-act-nv{
                // display: none;
                span{
                    font-size: 22px;
                }
                &.menu-a{
                    display: block;
                }
                &.menu-c{
                    display: none;
                }
            }
            
        }
        .ats-sidemenu {
            // padding: 0px 7px;
            .mat-expansion-panel {
                border-bottom: none;
                padding:2px 1px;
                margin-bottom:2px;
                border-radius: 4px;
                width: 55px;
                background: #fff;
                .mat-expansion-panel-header{
                    padding: 0 !important;
                    background: #fff;
                }
                &.active{
                    background: #dafffa;
                    position: relative;
                    // overflow: initial;
                    .mat-expansion-panel-header{
                        background: #dafffa;
                        .mat-expansion-panel-header-title .ats-nv-align .ats-nv-icon{
                            background-color: #04c7c7;
                            border: solid 1px #04c7c7;
                        }
                    }
                    &::after{
                        display: block;
                        content: '';
                        position: absolute;
                        height: 100%;
                        top:0;
                        right:0px;
                        width:5px;
                        background: red;
                        display: none;
                    }
                }
            }
            .mat-expansion-indicator{
                display: none;
            }
           
            .mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
                margin-right: 0 !important;
            }
            .mat-expansion-panel-header-title{
                .ats-nv-align{
                    justify-content: center;
                    cursor: pointer;
                    .ats-nv-icon{
                        height: 40px;
                        width: 40px;
                        // &.dashboard{
                        //     background-color: #02777d;
                        // }
                    }
                    .ats-nv-link{
                       display: none;
                    }
                }
            }

             .mat-expansion-panel-content{
                display: none !important;
            }
        }
    }
   
}



.login-page-main{
    .ats-main-wrapper{
        //  .info-connect-inner-wrapper .ats-connect-left{
        //     display: none;
        // }
        .ats-content-wrapper{
            width: 100%;
            height: auto;
            overflow: hidden
        }
    }

     .ats-main-wrapper .info-connect-inner-wrapper .ats-content-wrapper {
        width: 100%;
    }
}


.sch-wrapper-card{
    background: #ffffff;
    box-shadow: 0px 0px 4px #00000026;
    border: solid 1px #ddd;

    .sch-wrapper-header {
        border-bottom: solid 1px #ddd;
        min-height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 10px;
    }
    .sch-wrapper-body {
       min-height: 100px;
       overflow: auto;
       max-height: calc(100vh - 265px);
       padding: 10px;
      &.nra-v{
          align-items: center;
          display: flex;
          justify-content: center;
          p{
            margin: 0;
            color: #898989;
            font-size: 14px;
          }
      }
       .sch-form{
           padding: 10px 0px;
       }
       .ats-sc-accordion{
        .mat-expansion-panel-header.mat-expanded {
            height: auto;
            background: #ccfff8;
            .mat-expansion-panel-header-title {
                color: rgb(0 111 96);
               
            }
        }
        .mat-expansion-panel-header {
            height: auto;
            padding: 12px 24px;
            position: relative;
            .mat-expansion-panel-header-title,
            .mat-expansion-panel-header-description {
            flex-basis: 0;
            }
            .mat-expansion-panel-header-description {
                justify-content: end;
                align-items: center;
              }
              .btn-sv-delete{
                border: none;
                outline: none;
                position: absolute;
                left: 1px;
                height: 100%;
                display: flex;
                align-items: center;
                top: 0px;
                color: #0d77c7;
                background: #cde5ff;
                  .mat-icon{
                      height: auto;
                      width: auto;
                  }
                &:hover{
                    opacity: 0.6;
                }
              }
            .mat-expansion-panel-header-title {
                font-size: 12px;
                font-family: $font-semiBold;
                padding-left: 4px;
               }
            &.error-input{
               background: #ffbfbf;
               .mat-expansion-panel-header-title {
                color: #a50000;
               }
            }
            
        }
       }
    }

    .sch-wrapper-footer {
        min-height: 30px;
        text-align: center;
        padding: 5px 10px;
        border-top: solid 1px #ddd;
     }
}
.acd-body{
   
}

