

  @import url('https://fonts.googleapis.com/css?family=Roboto');
  @import url('https://fonts.googleapis.com/css?family=Montserrat:700');
  @import url('https://fonts.googleapis.com/css?family=Lato:700');
  // for multi use
  //$base-font:'Roboto', sans-serif;
  $bold-font:'Lato', sans-serif;
  $theme-color: #1F6A9F;
  $footer-color: #1F6A9F;
  $menu-font-color:#1F6A9F;
  $btn-color: #1f6a9f;
  $btn-border-color: #2370a7;
  $btn-shadow-color: #0b466f;
  $btn-hover-color: #d61959;
  $btn-hover-border:#d61959;
  $btn-hover-shadow:#bd0f4a;
  $color-white: #fff;
  $highlight-color :yellow;
  $base-font:Montserrat-Regular;
  $primary-font:Montserrat-Regular;
  $font-semiBold:Montserrat-SemiBold;
  $font-medium:Montserrat-Medium;
  $font-bold:Montserrat-Bold;
  $font-light:Montserrat-Light;
  $fontRoboto:Roboto, "Helvetica Neue", sans-serif;