.sign-wrap {
    height: 76px;
    width: 350px;
    display: inline-block;
    padding: 14px;
    img{
        max-height: 100%;
    }
}
.table-border-none{
    width: 615px;
    .title-tb{
        width:170px;
    }
    tr{
        td{
            .td-colun-div{
                border-bottom: solid 1px #000000;
                padding-bottom: 2px;
            }
        }
    }
}

.mb-ml{
    margin-left: 21px !important;
    margin-bottom: 10px !important;
  }

.margin-left-300 {
    margin-left: 300px;
}