<div class="ats-auth-wrapper">
    <div class="auth-content-box">
        <form [formGroup]="passwordForm" (ngSubmit)="submitForm(passwordForm)">
            <div class="auth-box-card">
                <div class="auth-box-headr">
                    <h3>Change Password</h3>
                </div>
                <div class="auth-box-body">
                    <div class="sm-text">
                        <p>You are required to change your password because this is the first time your are 
                            signing in, or because your password has expired.
                        </p>
                    </div>
                    <div class="auth-form">
                        <app-password-share [form]="passwordForm" [passText]=" 'New Password'"></app-password-share>
                    </div> 
                    <!-- end form row -->
                </div>
                <div class="auth-box-footer">
                    <button type="submit" class="btn btn-infocon" >Submit
                        <i class="fa fa-save"></i>
                    </button>
                    <button type="button" class="btn btn-simple-ats" (click)="resetForm()">Reset
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
            <!-- end card -->
        </form>
    </div>
</div>