<div class="sl-vm-control">
    <mat-form-field  [appearance]="formFieldAppearance" [floatLabel]="floatLabel">
      <mat-label appRemoveAriaOwns >{{title}}</mat-label>
      <mat-select [formControl]="formControlOpt" [disableOptionCentering]="true" [required]="required"
      (selectionChange)="getSelectId($event)">
        <mat-option>
            <ngx-mat-select-search class="mat-selec-search-youxta" [formControl]="FilterCtrl"
                [noEntriesFoundLabel]="'No record Found'" [placeholderLabel]="'Search'"
                [clearSearchInput]="false">
            </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let list of jobFamilyList | jobFamilyFilter:searchInput" [value]="list.JFID" >
          {{list?.JFName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>