<div class="form-card-wrapper">
    <h2>{{data?.title}}</h2>
    <div class="form-logo">
        <img src="assets-lib/images/logo/Infogain-logo.png" alt=""/>
    </div>
    <!-- <h3 class="line-h">Personal Information</h3> -->
    <div class="table-o-at">
        <table class="table table-border-none">
            <tbody>
                <tr>
                    <td class="title-tb">Complete Name </td>
                    <td class="td-colun"> {{(data?.candidatePersonalDetails?.FirstName ? data?.candidatePersonalDetails?.FirstName : '')+' '+(data?.candidatePersonalDetails?.MiddleName ? data?.candidatePersonalDetails?.MiddleName : '')+' '+(data?.candidatePersonalDetails?.LastName ? data?.candidatePersonalDetails?.LastName : '')}}</td>
                </tr>
                <tr>
                    <td class="title-tb">Personal Email Id </td>
                    <td class="td-colun">{{data?.candidatePersonalDetails?.email ? data?.candidatePersonalDetails?.email : '-'}}</td>
                </tr>
                <tr>
                    <td class="title-tb">Father’s Name</td>
                    <td class="td-colun"> {{data?.candidatePersonalDetails?.FatherName ? data?.candidatePersonalDetails?.FatherName : '-'}}</td>
                </tr>
                <tr>
                    <td class="title-tb">Date of Birth                                                   </td>
                    <td class="td-colun"> {{data?.candidatePersonalDetails?.dob ? (data?.candidatePersonalDetails?.dob | date) : '-'}}</td>
                </tr>
                <tr>
                    <td class="title-tb">Personal Contact Number</td>
                    <td class="td-colun"> {{data?.candidatePersonalDetails?.phone ? data?.candidatePersonalDetails?.phone : '-'}}</td>
                </tr>
                <tr>
                    <td class="title-tb">Emergency Contact Number</td>
                    <td class="td-colun"> 
                       
                        {{data?.persInfoFormDetails?.EmergencyContactNumber || '-'}}
                    </td>
                </tr>
                <tr>
                    <td class="title-tb">Contact Person Name</td>
                    <td class="td-colun"> 
                        {{data?.persInfoFormDetails?.Contactname || '-'}}
                    </td>
                </tr>
                <tr>
                    <td class="title-tb">Relation </td>
                    <td class="td-colun"> 
                        {{data?.persInfoFormDetails?.RealtionName || '-'}}
                    </td>
                </tr>
                <tr>
                    <td class="title-tb"> Permanent Address </td>
                    <td class="td-colun"> {{(data?.candidatePersonalDetails?.pr_addressLine1 ? data?.candidatePersonalDetails?.pr_addressLine1 : '')+' '+
                        (data?.candidatePersonalDetails?.pr_addressLine2 ? data?.candidatePersonalDetails?.pr_addressLine2 : '')+' '+
                        (data?.candidatePersonalDetails?.pr_addressLine3 ? data?.candidatePersonalDetails?.pr_addressLine3 : '')+','+
                        (data?.candidatePersonalDetails?.pr_city ? data?.candidatePersonalDetails?.pr_city : '')+','+
                        (data?.candidatePersonalDetails?.pr_state ? data?.candidatePersonalDetails?.pr_state : '')+','+
                        (data?.candidatePersonalDetails?.pr_countryName ? data?.candidatePersonalDetails?.pr_countryName : '')+','+
                        (data?.candidatePersonalDetails?.pr_postalCode ? data?.candidatePersonalDetails?.pr_postalCode : '')}}</td>
                </tr>
                <tr>
                    <td class="title-tb">Temporary Address  </td>
                    <td class="td-colun"> {{(data?.candidatePersonalDetails?.AddressLine1 ? data?.candidatePersonalDetails?.AddressLine1 : '')+' '+
                        (data?.candidatePersonalDetails?.AddressLine2 ? data?.candidatePersonalDetails?.AddressLine2 : '')+' '+
                        (data?.candidatePersonalDetails?.AddressLine3 ? data?.candidatePersonalDetails?.AddressLine3 : '')+','+
                        (data?.candidatePersonalDetails?.cr_city ? data?.candidatePersonalDetails?.cr_city : '')+','+
                        (data?.candidatePersonalDetails?.cr_state ? data?.candidatePersonalDetails?.cr_state : '')+','+
                        (data?.candidatePersonalDetails?.cr_countryName ? data?.candidatePersonalDetails?.cr_countryName : '')+','+
                        (data?.candidatePersonalDetails?.cr_postalCode ? data?.candidatePersonalDetails?.cr_postalCode : '')}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  



</div>