.erp-search-input{
    width: 240px;
}
.ems-h{
    z-index: 106 !important;
}
.ems{
    z-index: 2!important;
}

.btn-action .btn-act .priIntervIcn{
    
    font-size: 18px;
}


.ng-container{
    th {
       
        right: 142.484px !important;
    }
}

.candStat{  
    right: 118.5px !important;
}

.material-icons-outlined {
    font-size: unset !important;
}

.material-icons-round {
    color: rgb(25, 186, 25) !important;
}