<div class="info-connect-right">
    <div class="page-content-wrapper">
      <div class="page-container-inner">
        <div class="page-container-header clearfix">
          <div class="page-title-left float-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
          <div class="search-input float-left">
  
          </div>
          <!-- end search field -->
        </div>
        <!-- end content header -->
        <div class="content-body">
          <mat-card>
            <div class="card">
              <div class="card-header  card-header-flex">
                <div class="ats-left-h">
                </div>
                <div class="erp-search-input ats-right-h">
                  <div class="filter-at-wrapper">
                    <div class="s-fil">
                      <app-search-filter (sendKeyValue)="getSearchValueKey($event)" [placeHolder]="'Search By Talent ID '"
                        [searchServerSide]="true" [isReset]="isResetSearch"
                        matTooltip="Search By Talent ID"></app-search-filter>
                    </div>
                    <div class="s-fil">
                      <div class="act-header-btn">
                        <ul>
                          <li>
                            <button mat-button class="act-button" matTooltip="Download Report"
                              (click)="downloadReportAsExel()">
                              <span class="material-icons-outlined">
                                download
                              </span>
                            </button>
                          </li>
                          <li>
                            <app-filter-sort [form]="sortFormFilter" [isResetForm]="isResetFilter"
                              (getSortFormData)="getSortData($event)" [dateRange]="true"
                              [dateRangeTitle]="'By Date Of Joining'" [recruiter]="true" [recMulti]="true"
                              [offerStatus]="true" [offrStatusMulti]="true"
                             
                              >
                            </app-filter-sort>
                          </li>
  
                        </ul>
                      </div>
  
                    </div>
                  </div>
  
                </div>
              </div>
              <div class="card-body">
                <!-- matrial Table -->
                <div class="table-scroll-bd">
                  <table mat-table [dataSource]="candidateList" class="table-mat-info">
                    <ng-container matColumnDef="TalentId">
                        <th mat-header-cell *matHeaderCellDef>Talent Id</th>
                        <td mat-cell *matCellDef="let element;">
                          {{element?.TalentID || '-'}} 
                        </td>
                      </ng-container>
                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef>Name</th>
                      <td mat-cell *matCellDef="let element;">
                        {{element?.FirstName || ''}}  {{element?.LastName || ''}}
                      </td>
                    </ng-container>
                    <!-- end  -->
                    <ng-container matColumnDef="Phone">
                      <th mat-header-cell *matHeaderCellDef>Phone</th>
                      <td mat-cell *matCellDef="let element;">
                        {{element?.CPhone || '-'}}
                      </td>
                    </ng-container>
                    <!-- end  -->
                    <ng-container matColumnDef="Email">
                      <th mat-header-cell *matHeaderCellDef>Email </th>
                      <td mat-cell *matCellDef="let element;">
                        {{element?.CEmail || '-'}}
                      </td>
                    </ng-container>
  
                    <!-- end -->
                    <ng-container matColumnDef="EmploymentType">
                      <th mat-header-cell *matHeaderCellDef>Employement Type </th>
                      <td mat-cell *matCellDef="let element;">
                        {{element?.EmployementType || '-'}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="OfferType">
                        <th mat-header-cell *matHeaderCellDef>Offer Type </th>
                        <td mat-cell *matCellDef="let element;">
                          {{element?.OffertypeName || '-'}}
                        </td>
                      </ng-container>
                    <ng-container matColumnDef="WorkVisaStatus">
                        <th mat-header-cell *matHeaderCellDef>Work/Visa Status </th>
                        <td mat-cell *matCellDef="let element;">
                          {{element?.Visa || '-'}}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="LegalEntity">
                        <th mat-header-cell *matHeaderCellDef>Legal Entity </th>
                        <td mat-cell *matCellDef="let element;">
                          {{element?.LegalEntity || '-'}}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Division">
                        <th mat-header-cell *matHeaderCellDef>Division </th>
                        <td mat-cell *matCellDef="let element;">
                          {{element?.Division || '-'}}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="TotalExperience">
                        <th mat-header-cell *matHeaderCellDef>Total Experience </th>
                        <td mat-cell *matCellDef="let element;">
                          {{element?.TotalExperience || '-'}}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="AccountName">
                        <th mat-header-cell *matHeaderCellDef>Account Name </th>
                        <td mat-cell *matCellDef="let element;">
                          {{element?.AccountName || '-'}}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="PrimarRec">
                        <th mat-header-cell *matHeaderCellDef>Primary Recruiter </th>
                        <td mat-cell *matCellDef="let element;">
                          {{element?.PrimaryRecuiterName || '-'}}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="StartDate">
                        <th mat-header-cell *matHeaderCellDef>Start Date </th>
                        <td mat-cell *matCellDef="let element;">
                          {{element?.Dateofjoining || '-'}}
                        </td>
                      </ng-container>
                   
                    <ng-container matColumnDef="Status" stickyEnd>
                      <th mat-header-cell *matHeaderCellDef>Status
                        <br>
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <app-all-status-id-visibility-shared [statusType]="'offer'" [statusId]="element?.OfferStatusID"
                        [statusName]="element?.OfferStatus">
                      </app-all-status-id-visibility-shared>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Action" stickyEnd>
                      <th mat-header-cell *matHeaderCellDef>Action
                        <br>
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center">
                        <div class="btn-action btn-action-centers">
                          <div class="btn-act">
                              <button mat-button type="button" matTooltip="Export As Excel"
                              (click)="exportCandidateWiseHiringTrackeReport(element?.cid)">
                                  <span class="material-icons-outlined">
                                    download
                                  </span>
                              </button>
                          </div>
                          <!-- ends -->
                      </div>
                      </td>
                    </ng-container>
  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>
                  </table>
                  <app-no-result-found [searchedValue]="searchInput" *ngIf="(candidateList?.data?.length === 0)">
                  </app-no-result-found>
                </div>
                <div class="ats-paging-sec">
                  <app-custom-paginator #paginatorRef [total]="paginationData?.Total" [jumpFirstPage]="jumpFirstPage"
                    (sendPagingData)="getPagingData($event)">
                  </app-custom-paginator>
                </div>
  
              </div>
  
            </div>
            <!-- end card sec -->
          </mat-card>
        </div>
        <!-- end content body -->
      </div>
      <!-- end inner container -->
  
    </div>
    <!-- end page content wrapper -->
  </div>
  <!-- end right wrapper -->