<div class="info-connect-right">
  <div class="page-content-wrapper">
    <div class="page-container-inner">
      <div class="page-container-header clearfix">
        <div class="page-title-left float-left">
          <app-breadcrumbs></app-breadcrumbs>
        </div>
        <div class="search-input float-left">
          <!-- <app-auto-complete-talentid (getDataTalentId)="getDataTalent($event)" [isAll]="true">
                    </app-auto-complete-talentid> -->
        </div>
        <!-- end search field -->
      </div>
      <!-- end content header -->
      <div class="content-body">
        <mat-card>
          <div class="card">
            <div class="card-header  card-header-flex">
              <div class="ats-left-h"></div>
              <div class="erp-search-input ats-right-h">
                <div class="filter-at-wrapper">
                  <div class="s-fil">
                    <app-search-filter (sendKeyValue)="getSearchValueKey($event)" [placeHolder]="searhByTitle"
                      [searchServerSide]="true" [isReset]="isResetSearch"
                      [matTooltip]="searhByTitle"></app-search-filter>
                  </div>
                  <div class="s-fil">
                    <div class="act-header-btn">
                      <ul>
                        <!-- visible  for recruiter 2 or admin 10-->
                        <li *ngIf="userData?.RoleId == 2 || userData?.RoleId == 10">
                          <button mat-button class="btn btn-infocon btn-add-leader"
                            (click)="addLeadershipModal({}, 'N')">
                            Add Candidate <i class="fa fa-chair"></i>
                          </button>
                        </li>
                        <li>
                          <!-- [onboardSubStatusTitle]="'Pre Onboarding Forms Status'"
                                                    [day1SubStatusTitle]="'Day 1 Forms Status'" -->
                          <app-filter-sort (getSortFormData)="getSortData($event)" [form]="sortFormFilter"
                            [isResetForm]="isResetFilter" [onboardStatus]="true" [onboardStatusMulti]="true"
                            [onboardStatusTitle]="'Candidate Status'" [onboardSubStatus]="true"
                            [onboardSubStatusMulti]="true" [day1SubStatus]="true" [day1SubStatusMulti]="true"
                            [recruiter]="true" [recMulti]="true" [dateRangeStartToEnd]="true"
                            [dateRangeTitle2]="'By Joining Date'" [companyLocation]="true"
                            [LocationMulti]="true"></app-filter-sort>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            <div class="card-body">
              <!-- matrial Table -->
              <div class="table-scroll-bd">
                <table mat-table [dataSource]="candidateList" class="table-mat-info">
                  <!-- Checkbox Column -->
                  <!-- <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                [aria-label]="checkboxLabel()">
                                            </mat-checkbox>
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null"
                                                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                            </mat-checkbox>
                                        </td>
                                    </ng-container> -->
                  <ng-container matColumnDef="AddedBy">
                    <th mat-header-cell *matHeaderCellDef>
                      Added by Test
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{element?.addedByName || '-'}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Cid">
                    <th class="cid-col-width" mat-header-cell *matHeaderCellDef>
                      Candidate ID
                    </th>
                    <td class="text-center" mat-cell *matCellDef="let element;">

                      {{element.CandidateId || '-'}}
                    </td>
                  </ng-container>
                  <!-- Candidate Name Column -->
                  <ng-container matColumnDef="leaderName">
                    <th mat-header-cell *matHeaderCellDef> Candidate
                      Name </th>
                    <td mat-cell *matCellDef="let element;">
                      {{element.Name || '-'}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="EmployeeId">
                    <th mat-header-cell *matHeaderCellDef>Employee ID </th>
                    <td mat-cell *matCellDef="let element;">
                      {{element.EmployeeId || '-'}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="OfficialEmail">
                    <th mat-header-cell *matHeaderCellDef> Official Email ID </th>
                    <td mat-cell *matCellDef="let element;">
                      {{element.OfficialEmailId || '-'}}
                    </td>
                  </ng-container>

                  <!-- Email ID Column -->
                  <ng-container matColumnDef="EmailID">
                    <th mat-header-cell *matHeaderCellDef>Candidate Personal <br> Email ID
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{element?.email || '-'}}
                    </td>
                  </ng-container>

                  <!-- Joining Location Column -->
                  <ng-container matColumnDef="joiningLoc">
                    <th mat-header-cell *matHeaderCellDef>
                      Joining Location
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{element?.JoiningLocationName || '-'}}
                    </td>
                  </ng-container>

                  <!-- Phone No. Column -->
                  <ng-container matColumnDef="PhoneNo">
                    <th mat-header-cell *matHeaderCellDef>Phone
                      No. </th>
                    <td mat-cell *matCellDef="let element">
                      {{element?.phone || '-'}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="doj">
                    <th mat-header-cell *matHeaderCellDef>
                      Tentative DOJ
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{(element?.DateOfJoining | date:'dd MMM YY') || '-'}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="skills">
                    <th mat-header-cell *matHeaderCellDef>Skill </th>
                    <td mat-cell *matCellDef="let element">
                      {{element?.skillName || '-'}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="RecruiterName">
                    <th mat-header-cell *matHeaderCellDef>Recruiter </th>
                    <td mat-cell *matCellDef="let element">
                      {{element?.RecruiterName || '-'}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="grade">
                    <th mat-header-cell *matHeaderCellDef>Grade </th>
                    <td mat-cell *matCellDef="let element">
                      {{element?.grade || '-'}}
                    </td>
                  </ng-container>


                  <ng-container matColumnDef="delegatorName">
                    <th mat-header-cell *matHeaderCellDef class="onbaord-spocs-color"> Assigned Onboarding Spoc. <br>
                      (Confidential) </th>
                    <td mat-cell *matCellDef="let element">
                      {{element?.assignedDelegatorName || '-'}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="offerNum">
                    <th mat-header-cell *matHeaderCellDef>
                      Offer Number
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{element?.OfferNumberFull || '-'}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="emailIdOrg">
                    <th mat-header-cell *matHeaderCellDef>
                      Infogain Email ID
                    </th>
                    <td mat-cell *matCellDef="let element">

                      <span [cdkCopyToClipboard]="element?.orgEmail" class="cursor-s">
                        {{element?.orgEmail || '-'}}
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="domainId">
                    <th mat-header-cell *matHeaderCellDef>
                      Domain Id
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span [cdkCopyToClipboard]="element?.domainId" class="cursor-s">
                        {{element?.domainId || '-'}}
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="profileStatus">
                    <th mat-header-cell *matHeaderCellDef>
                      Profile Status

                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span [cdkCopyToClipboard]="element?.domainId" class="cursor-s">
                        <!-- {{element?.CandidateSubmissionStatus =='S' ? 'Added': 'Drafted'}} -->
                      </span>
                      <ng-container [ngSwitch]="element?.CandidateSubmissionStatus">
                        <ng-container *ngSwitchCase="'D'">
                          <button class="btn-status-dg schedule" type="button">
                            Draft
                          </button>
                        </ng-container>
                        <!-- <ng-container *ngSwitchCase="'R'">
                                                    <button class="btn-status-dg schedule" type="button">
                                                        {{'RE-ACTIVATED'}}
                                                    </button>
                                                </ng-container> -->
                        <ng-container *ngSwitchDefault>
                          <button class="btn-status-dg shortlisted" type="button">
                            Active
                          </button>
                        </ng-container>
                      </ng-container>
                    </td>
                  </ng-container>



                  <ng-container matColumnDef="cifStatus">
                    <th mat-header-cell *matHeaderCellDef>
                      Candidate Status
                    </th>
                    <td mat-cell *matCellDef="let element">

                      <ng-container [ngSwitch]="element?.onboardStatus">
                        <ng-container *ngSwitchCase="10">
                          <button class="btn-status-dg schedule" type="button">
                            {{element?.onboardStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="20">
                          <button class="btn-status-dg schedule" type="button">
                            {{element?.onboardStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="30">
                          <button class="btn-status-dg rejects" type="button">
                            {{element?.onboardStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="40">
                          <button class="btn-status-dg schedule" type="button">
                            {{element?.onboardStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="50">
                          <button class="btn-status-dg rejects" type="button">
                            {{element?.onboardStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="60">
                          <button class="btn-status-dg shortlisted" type="button">
                            {{element?.onboardStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="70">
                          <button class="btn-status-dg schedule" type="button">
                            {{element?.onboardStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="80">
                          <button class="btn-status-dg schedule" type="button">
                            {{element?.onboardStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="90">
                          <button class="btn-status-dg rejects" type="button">
                            {{element?.onboardStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="100">
                          <button class="btn-status-dg shortlisted" type="button">
                            {{element?.onboardStatusName}}
                          </button>
                        </ng-container>


                        <ng-container *ngSwitchDefault>
                          {{element?.onboardStatusName || '-'}}
                        </ng-container>
                      </ng-container>
                    </td>
                  </ng-container>
                    <ng-container matColumnDef="isBGVSubmitted">
                    <th mat-header-cell *matHeaderCellDef>
                      Is BGV Submitted <br> By Candidate
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{element?.isBGVSubmittedByCandidate == 1 ? 'Yes' : 'No'}}
                    </td>
                  </ng-container>
                   <ng-container matColumnDef="isCaseInitiated">
                    <th mat-header-cell *matHeaderCellDef>
                      Is BGV Initiated <br> By HR
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{element?.isBGVApprovedByHR == 1 ? 'Yes' : 'No'}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="candiSubStatus">
                    <th mat-header-cell *matHeaderCellDef>
                      Pre Onboarding Forms Status
                    </th>
                    <td mat-cell *matCellDef="let element">

                      <ng-container [ngSwitch]="element?.onboardFormStatus">

                        <ng-container *ngSwitchCase="110">
                          <button class="btn-status-dg schedule" type="button">
                            {{element?.onboardFormStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="120">
                          <button class="btn-status-dg schedule" type="button">
                            {{element?.onboardFormStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="130">
                          <button class="btn-status-dg rejects" type="button">
                            {{element?.onboardFormStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="100">
                          <button class="btn-status-dg shortlisted" type="button">
                            {{element?.onboardFormStatusName}}
                          </button>
                        </ng-container>


                        <ng-container *ngSwitchDefault>
                          {{element?.onboardFormStatusName || '-'}}
                        </ng-container>
                      </ng-container>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="day1Status">
                    <th mat-header-cell *matHeaderCellDef>
                      Day 1 Forms Status
                    </th>
                    <td mat-cell *matCellDef="let element">

                      <ng-container [ngSwitch]="element?.day1FormStatus">

                        <ng-container *ngSwitchCase="110">
                          <button class="btn-status-dg schedule" type="button">
                            {{element?.day1FormStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="120">
                          <button class="btn-status-dg schedule" type="button">
                            {{element?.day1FormStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="130">
                          <button class="btn-status-dg rejects" type="button">
                            {{element?.day1FormStatusName}}
                          </button>
                        </ng-container>
                        <ng-container *ngSwitchCase="100">
                          <button class="btn-status-dg shortlisted" type="button">
                            {{element?.day1FormStatusName}}
                          </button>
                        </ng-container>


                        <ng-container *ngSwitchDefault>
                          {{element?.day1FormStatusName || '-'}}
                        </ng-container>
                      </ng-container>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef> Action</th>
                    <td mat-cell *matCellDef="let element" class="text-left">
                      <div class="btn-action btn-action-centers">
                         <div class="btn-act" *ngIf="element?.isTidDormant != 'D' && ((userData?.RoleId == 1 || userData?.otherRoles?.IsHRAccess == 'Y') && element?.IsBGVBtnEnable == 1)">
                          <button mat-button type="button" matTooltip="View / Approve BGV Details"
                            (click)="viewAllDetailsBGV(element)">
                            <span class="material-icons-round">
                              verified_user
                            </span>
                          </button>
                        </div>
                        <div class="btn-act"
                          *ngIf="showviewAllDetailsOnboardButtonRec(element) && element?.CandidateSubmissionStatus != 'D'">
                          <button mat-button type="button"
                            matTooltip="View / Verify Candidate EAF"
                            (click)="viewAllDetailsOnboardRec(element, 'LS')">
                            <span class="material-icons-round">
                              visibility
                            </span>
                          </button>
                        </div>
                        <!-- end -->
                         <!-- hr -->
                           <div class="btn-act"
                          *ngIf="showviewAllDetailsOnboardButtonHr(element) && element?.CandidateSubmissionStatus != 'D'">
                          <button mat-button type="button"
                            matTooltip="View / Verify Back Papers"
                            (click)="viewAllDetailsOnboardHr(element, 'LS')">
                            <span class="material-icons-round">
                              visibility
                            </span>
                          </button>
                        </div>
                        <!-- end -->
                        
                        <div class="btn-act"
                          *ngIf="visbileCandidateVerificationButton(element)">
                          <button mat-button type="button" matTooltip="Candidate Verification"
                            (click)="empVerificationOnboardPic(element,'C')">
                            <span class="material-icons-outlined">
                              domain_verification
                            </span>
                          </button>
                        </div>
                        <!-- end  -->
                       
                        <!-- joining 7 days -->
                        <div class="btn-act"
                          *ngIf="visibleempVerificationButton(element)">
                          <button mat-button type="button" matTooltip="Employee Verification (Post Joining)"
                            (click)="empVerificationOnboardPic(element,'E')">
                            <span class="material-icons-outlined">
                              camera_front
                            </span>
                          </button>
                        </div>
                        <!-- end -->
                        <div class="btn-act" *ngIf="element?.IsConsent && element?.ShouldVisibleToUser == 1">
                          <button mat-button type="button" matTooltip="View Candidate Verification Details"
                            (click)="viewAllDetailsOnboardPic(element)">
                            <span class="material-icons-outlined">
                              preview
                            </span>
                          </button>
                        </div>
                        <!-- 10 Pending with Candidate (EAF), 20 Pending with Recruiter (EAF), 
                                                30 Referred Back by Recruiter to Candidate (EAF), and  draft and recruiter added by-->
                        <div class="btn-act"
                          *ngIf="(this.userData?.EmpNewId == element?.addedByEmpID)">
                          <button mat-button type="button" (click)="addLeadershipModal(element, 'E')"
                            matTooltip="View/Update Details">
                            <span class="material-icons-outlined">
                              drive_file_rename_outline
                            </span>
                          </button>
                        </div>
                        <!-- ends -->
                         <div class="btn-act"
                          *ngIf="(this.userData?.EmpNewId == element?.addedByEmpID && element?.isCredentialSent =='Y')">
                          <button mat-button type="button"
                            [matTooltip]="'Resend Credentials'"
                            (click)="confirmCredentialsSendToCandidate(element)">
                            <span class="material-icons-outlined">
                              forward_to_inbox
                            </span>
                          </button>
                        </div>
                        <!-- end-->
                        <!--*ngIf="showSendPreOnbFormsButton(element) &&element?.CandidateSubmissionStatus !='D'" -->
                        <div class="btn-act"
                          *ngIf="showSendPreOnbFormsButton(element) &&element?.CandidateSubmissionStatus !='D'">
                          <button mat-button type="button" matTooltip="Enable/Disable Pre-Onboarding Forms"
                            (click)="openModalToSendPreOnbForms(element, 'LS')">
                            <span class="material-icons-outlined">
                              assignment_ind
                            </span>
                          </button>
                        </div>
                        <!-- CandidateSubmissionStatus D for draft or S active . added by recr -->
                        <div class="btn-act"
                          *ngIf="this.userData?.EmpNewId == element?.addedByEmpID">
                          <button mat-button type="button" (click)="openUploadOfferLetterModal(element)"
                            [matTooltip]="element?.isOfferUploaded =='N'?'Upload Offer Letter':'Re-upload Offer Letter'">
                            <span class="material-icons-outlined">
                              upload_file
                            </span>
                          </button>
                        </div>
                        <!-- ends -->
                        <!-- view only for recruiter -->
                        <div class="btn-act"
                          *ngIf="(userData?.EmpNewId == element?.addedByEmpID && element?.isOfferUploaded =='Y')">
                          <button mat-button type="button" (click)="previewOfferOptionForIndia(element)"
                            matTooltip="Preview Offer">
                            <span class="material-icons-outlined">
                              picture_as_pdf
                            </span>
                          </button>
                        </div>
                         <div class="btn-act" *ngIf="userData?.RoleId === 9 && element?.IsOfferVisibile == 1">
                          <button mat-button type="button" matTooltip="Preview  Offer / Sodexo Form"
                            (click)="previewOfferOptionForIndia(element)">
                            <span class="material-icons-outlined">
                              picture_as_pdf
                            </span>
                          </button>
                        </div>
                        <!-- 10 Pending with Candidate (EAF), 20 Pending with Recruiter (EAF), 
                                                30 Referred Back by Recruiter to Candidate (EAF), and not draft and recruiter role 2-->
                        <div class="btn-act"
                          *ngIf="delegationVisiblity(element)">
                          <button mat-button type="button" (click)="DelegateUser(element)"
                            matTooltip="Fill Candidate EAF">
                            <span class="material-icons-outlined">
                              supervised_user_circle
                            </span>
                          </button>
                        </div>
                        <div class="btn-act"
                          *ngIf="showVerifOnbFormsButton(element) && element?.CandidateSubmissionStatus !='D'">
                          <button mat-button type="button" matTooltip="View/Verification Onboarding Forms "
                            (click)="viewAllDetailsOnboardForms(element)">
                            <span class="material-icons-outlined">
                              checklist
                            </span>
                          </button>
                        </div>
                        <div class="btn-act"
                          *ngIf="showVerifyPendingDocButton(element) && element?.CandidateSubmissionStatus !='D'">
                          <button mat-button type="button" matTooltip="Candidate Pending Documents"
                            (click)="openModalPendingDocs(element)">
                            <span class="material-icons-outlined">
                              folder_shared
                            </span>
                          </button>
                        </div>
                        <div class="btn-act"
                          *ngIf="showSendDay1FormsButton(element) && element?.CandidateSubmissionStatus !='D'">
                          <button mat-button type="button" matTooltip="Enable/Disable Day1 Forms"
                            (click)="openModalToSendDay1OnbForms(element)">
                            <span class="material-icons-outlined">
                              follow_the_signs
                            </span>
                          </button>
                        </div>
                        <div class="btn-act" *ngIf="showVerifDay1FormsButton(element)">
                          <button mat-button type="button" matTooltip="View/Verification Day1 Forms "
                            (click)="viewAllDetailsDay1Forms(element)">
                            <span class="material-icons-outlined">
                              library_add_check
                            </span>
                          </button>
                        </div>
                        <!-- Monica to assign a onboarding spoc  to Onboarding Team for confidential candidate -
                                                pending with hr 40  backapers - && element?.onboardStatus == 40" , element?.isDelegatorHrAssigned == 'N'"-->
                        <div class="btn-act"
                          *ngIf="(element?.onboardStatus == 40 &&  element?.candidateHiringType ==='C' ) && (this.userData?.otherRoles?.IsLeadershipDelegationHR ==='Y'  && element?.CandidateSubmissionStatus !='D') ">
                          <button mat-button type="button"
                            [matTooltip]="element?.isDelegatorHrAssigned == 'Y' ? 'Update Onboarding Spoc' : 'Assign Onboarding Spoc'"
                            (click)="delegateToRecruiterOpenModal(element)">
                            <span class="material-icons-outlined">
                              assignment
                            </span>
                          </button>
                        </div>
                        <div class="btn-act" *ngIf="showCreateEmployeeIdButton(element)">
                          <button mat-button type="button" matTooltip="Create Employee ID"
                            (click)="openModalCreateEmpId(element)">
                            <span class="material-icons-outlined">
                              person_add
                            </span>
                          </button>
                        </div>
                         <div class="btn-act" *ngIf="showSendAppointLtrButton(element)">
                          <button mat-button type="button" matTooltip="Upload Appointment Letter"
                            (click)="openModalToSendAppointLetter(element)">
                            <span class="material-icons-outlined">
                              cloud_sync
                              </span>
                          </button>
                        </div>
                        <!-- end -->
                           <div class="btn-act" *ngIf="showSendAppointLtrPreview(element) && element?.isTidDormant != 'D'">
                          <button mat-button type="button" [matTooltip]="element?.isEnableAppointmentLetter == 'Y'?'Preview and Resend Appointment Letter':'Preview and Send Appointment Letter'"
                            (click)="previewandSendAppointmentLetter(element)">
                            <span class="material-icons-outlined"> receipt_long </span>
                          </button>
                        </div>

                        

                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"
                    [ngClass]="{'highlight-confirm': (row.JoineeStatus == 1 )&& (userData.RoleId == 2 || userData.RoleId == 5)}">
                  </tr>
                </table>
                <app-no-result-found [searchedValue]="searchInput" *ngIf="candidateList?.data?.length === 0">
                </app-no-result-found>
              </div>
              <div class="ats-paging-sec ats-foot-tb">
                <div>
                  <!-- <button  class="btn btn-infocon" (click)="SendEmailToISS()">
                                        Send
                                    </button> -->
                </div>
                <div>
                  <app-custom-paginator #paginatorRef [total]="paginationData?.Total"
                    (sendPagingData)="getPagingData($event)"></app-custom-paginator>
                </div>
              </div>

            </div>

          </div>
          <!-- end card sec -->
        </mat-card>
      </div>
      <!-- end content body -->
    </div>
    <!-- end inner container -->

  </div>
  <!-- end page content wrapper -->
</div>
<!-- end right wrapper -->