.dangr{
    color: red;
}

:host::ng-deep .checkbox-container11 .mat-checkbox-layout{
    display: block !important;
    white-space: normal !important;
}

.list-style-none {
    list-style-type: none;
}

.margin-left-25-list-square {
    margin-left: 25px;
    list-style-type: square;
}

.list-style-none-font-10-5 {
    list-style-type: none;
    font-size: 10.5px;
}

.margin-left-30 {
    margin-left: 30px;
}