<div class="form-control-sam" *ngIf="isMultiple">

    <mat-form-field [appearance]="formFieldAppearance" [floatLabel]="floatLabel">
      <mat-label appRemoveAriaOwns >{{title}}</mat-label>
        <mat-select [formControl]="IdControl" [disableOptionCentering]="true" [required]="required"
           multiple #select [disableClose]="true">
           <mat-select-trigger>
            <span class="trigger-text">{{ multiSelectedVal?.length !== 0 ? (multiSelectedVal[0]?.OpportunityName + ' (' + multiSelectedVal[0]?.Id + ')' | slice:0:39) + ((multiSelectedVal[0]?.OpportunityName + ' (' + multiSelectedVal[0]?.Id + ')').length > 39 ? '...' : '') : '' }}</span>
            <span *ngIf="multiSelectedVal?.length > 1" class="example-additional-selection">
              (+{{multiSelectedVal.length - 1}} {{multiSelectedVal.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option>
            <ngx-mat-select-search class="mat-selec-search-youxta" [formControl]="FilterCtrlAccount"
                [noEntriesFoundLabel]="'No record Found'" [placeholderLabel]="'Search'" [clearSearchInput]="false">
            </ngx-mat-select-search>
        </mat-option>
          <mat-option *ngFor="let list of accountList| filterOppNamePipe:searchInputAccount; trackBy: trackById" 
          [value]="list?.Id" (click)="optionClick()">
            {{list?.OpportunityName+' ('+list?.Id+' )'}}</mat-option>
        </mat-select>
    
      </mat-form-field>
</div>


<div class="form-control-sam" *ngIf="!isMultiple">
  <mat-form-field [appearance]="formFieldAppearance" [floatLabel]="floatLabel">
    <mat-label appRemoveAriaOwns >{{title}}</mat-label>
      <mat-select [formControl]="IdControl" [disableOptionCentering]="true" [required]="required">
        <mat-option>
          <ngx-mat-select-search class="mat-selec-search-youxta" [formControl]="FilterCtrlAccount"
              [noEntriesFoundLabel]="'No record Found'" [placeholderLabel]="'Search'" [clearSearchInput]="false">
              
          </ngx-mat-select-search>
      </mat-option>
       <mat-option value="all">All</mat-option>
        <mat-option *ngFor="let list of accountList| filterOppNamePipe:searchInputAccount; trackBy: trackById" 
        [value]="list?.Id">
          {{list?.OpportunityName+' ('+list?.Name+' )'}}</mat-option>
      </mat-select>
  
    </mat-form-field>
</div>