.form-appr{
    margin-top: 10px;
 
}
.ats-forms.ats-forms-horz4 .ats-form-col {
    width: 33% !important;
}

.hint-wrap{
    margin-top: 3px !important;
    font-size: 10px !important;
}
.error{
    color: red;
}