.ats-forms.ats-forms-horz4 .ats-form-col {
    width: 100% !important;
}
textarea#mat-input-0 {
    min-height: 62px !important;
}

.ats-forms.ats-form-normal-font .ats-form-col .mat-form-field
 {
    font-size: 11px !important;
}