.ats-auth-wrapper .auth-box-card .auth-box-body .sm-text p {
    font-size: 14px;
    text-align: center;
    padding: 6px 8px 0px 8px;
    margin: 0;
    text-align: left;
}
.ats-auth-wrapper .auth-box-card .auth-box-body .sm-text h4 {
    padding: 4px 5px;
    color: #005190;
}
.ats-auth-wrapper .auth-content-box {
    width: 345px;
    background: #fff;
    width: 400px;
    max-width: 400px;
}

.candidate-info {
    padding: 6px 8px 0px 8px;
    margin: 0;
    text-align: left;
}

.candidate-info-last {
    padding: 6px 8px 12px 8px;
    margin: 0;
    text-align: left;
}

.full-width {
    width: 100%;
}