.resend{
    text-align: center;
    a{
        display: inline-block;
        text-decoration: none;
        background: #0a8b83;
        color: #fff;
        padding: 4px 5px;
        font-size: 12px;
        border-radius: 3px;

    }
}

.p-can{
    padding-bottom: 4px;
}
.p-can1{
    padding-bottom: 9px;
}