<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <style type="text/css"></style>
</head>

<body bgcolor="#" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"
class="us-offer-Letter">
    <div class="offer-letter-wrapper">
    <table class="full-width main-table" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
        <tbody>
            <tr>
                <td align="left" class="mobile-text date-cell">
                    [OfferDate]</td>
            </tr>
            <tr>
                <td>
                    <p>
                        <span class="red-serif-text">&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td align="left" class="mobile-text address-text">
                    [CandidateName] <br /> [AddressLine1] <br /> [AddressLine2] <br /> [AddressLine3] <br />
                    <a href="mailto:Email@email.com" target="_blank">Email@email.com</a>
                </td>
            </tr>
            <tr>
                <td align="left" class="mobile-text dear-text">Dear
                    <b>[CandidateName]</b>, </td>
            </tr>
            <tr>
                <td class="para-padding">Congratulations! We are pleased to inform you that after careful
                    consideration Infogain Corporation has decided to extend this offer of employment. This letter sets
                    forth the terms of your offer of employment with Infogain. You are being hired as a <span
                        class="bold-text">[designation]</span>. Your first day of employment will be <span
                        class="bold-text"> [DateOfJoining]</span> and you will be reporting to <span
                        class="bold-text">[ReportingManager]</span>. </td>
            </tr>
            <tr>
                <td class="para-padding">Your semi-monthly compensation will be $ <span
                        class="red-text">[BasePay]</span> or $ <span class="red-text">[AnnualBaspay]</span>
                    annualized salary. This position will be an exempt full-time position. </td>
            </tr> [Bonus] <tr>
                <td class="para-padding"> You will also be eligible to participate in the health and other benefit
                    plans of Infogain according to their terms and as may be amended or terminated from time to time.
                    Infogain currently has in place the following benefit programs: 13 days of Paid Time Off (PTO)
                    accumulated in your first year of employment; comprehensive medical, dental, vision and life
                    insurance; 401(k) retirement savings plan with employer matching; and ten paid holidays each year.
                </td>
            </tr>
            <tr>
                <td class="para-padding"> Upon your acceptance, this letter will supersede any and all prior or
                    contemporaneous agreements, understandings or commitments by or on behalf of Infogain, either oral
                    or written. This letter is the complete offer and is conditional upon the satisfactory completion of
                    a background check which may include all or some of the following: Social Security trace, motor
                    vehicles history report, criminal history report, pre-employment drug screening, verification of
                    employment history for the past seven (7) years, verification of educational records for the highest
                    degree received, examination of the FDA Debarment List, the FDA Restricted List, and the HHS-OIG
                    Exclusion List. </td>
            </tr>
            <tr>
                <td class="para-padding"> Pursuant to the Immigration Reform Act, this offer is contingent upon
                    verification of your identity and legal right to work in the United States. You must present the
                    appropriate documentation and identification upon your first day of employment at Infogain. </td>
            </tr>
            <tr>
                <td class="para-padding"> The terms of your employment in the future will be governed by the enclosed
                    employment agreement. Your employment with the Company will be “at will”. This means that you have
                    the right to terminate your employment with Infogain at any time, with or without cause, and that
                    conversely, Infogain has the same right to end your employment at any time, with or without notice.
                    Nothing in this offer letter is intended or shall be construed as evidence of a contract of
                    employment for any definite term. </td>
            </tr>
            <tr>
                <td class="para-padding"> If these terms are acceptable to you, please sign and date the letter in
                    the appropriate spaces at the bottom and return it before <span class="bold-text">
                        [DateOfJoining]</span>, as this offer of employment will automatically expire on this date
                    without any further notice from Infogain. Your signatures will acknowledge that you have read,
                    understand, and agree to the terms and conditions of this offer. We hope that you accept this offer
                    and look forward to you coming on board. </td>
            </tr>
            <tr>
                <td align="left" class="mobile-text sincerely-heading">
                    <b>Sincerely,</b>
                    <br />
                    <img src="\\ipagfileserver\Photos\ATS\ImpDocs\signature.png" class="" alt="" width="auto"
                        height="50px" border="0" hspace="0" vspace="0" />
                </td>
            </tr>
            <tr>
                <td align="left" class="mobile-text company-info">
                    <b>[HeadName]</b>
                    <br />
                    <b>[HeadDesignation]</b>
                    <br />
                    <b>Infogain Corporation</b>
                </td>
            </tr>
            <tr>
                <td align="left" class="mobile-text company-info"></td>
            </tr>
            <tr>
                <td align="left" class="mobile-text company-info">Enclosures:
                    Employment Agreement & Arbitration Agreement</td>
            </tr>
            <tr>
                <td align="left" class="mobile-text agreed-text">
                    <b>Agreed and Accepted:</b>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <br />
    <table class="" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td align="left" class="mobile-text signature-field-left">
                    <p class="border-bottom-line"></p>
                    <br />
                    <p class="field-label">
                        <b> FULL LEGAL NAME </b>
                    </p>
                </td>
                <td align="left" class="mobile-text signature-field-right">
                    <p class="border-bottom-line"></p>
                    <br />
                    <p class="field-label">
                        <b> DATE </b>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td class="blue-bar"> &nbsp; </td>
            </tr>
        </tbody>
    </table>
    <table class="" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td class="footer-title">
                    <b> INFOGAIN CORPORATION</b>
                </td>
            </tr>
            <tr>
                <td class="footer-padding">
                    <div class="text-center">
                        <img src="\\ipagfileserver\Photos\ATS\ImpDocs\FooterUS.png" class="" height="35px" alt=""
                            border="0" hspace="0" vspace="0" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>

</html>