<div class="form-control-sam" *ngIf="isMultiple">

    <mat-form-field [appearance]="formFieldAppearance" [floatLabel]="floatLabel">
      <mat-label appRemoveAriaOwns >{{title}}</mat-label>
        <mat-select [formControl]="IdControl" [disableOptionCentering]="true" [required]="required"
           multiple #select [disableClose]="true">
           <mat-select-trigger>
            {{multiSelectedVal?.length !== 0 ? multiSelectedVal[0]?.viewValue : ''}}
            <span *ngIf="IdControl?.value?.length > 1 && showCount > 1" class="example-additional-selection">
              (+{{ showCount - 1 }} {{IdControl?.value?.length === 2 ? 'other' : 'others'}})
            </span>
           </mat-select-trigger>
          <mat-option>
            <ngx-mat-select-search class="mat-selec-search-youxta" [formControl]="FilterCtrlSubList"
                [noEntriesFoundLabel]="'No record Found'" [placeholderLabel]="'Search'" [clearSearchInput]="false">
                <!-- <div class="mat-select-search-custom-header-content">
                  <button class="ngx-btn-ok" (click)="selectData()" *ngIf="showOkButton">Apply</button>
                </div> -->
            </ngx-mat-select-search>
          </mat-option>
          <div class="select-all" *ngIf="subList?.length !=0 && !searchInput">
            <mat-checkbox [(ngModel)]="allSelected" (change)="toggleAllSelection()">Select All</mat-checkbox>
          </div>
          <mat-option *ngFor="let list of subList| subListFilter:searchInput" 
          [value]="list?.id" (click)="optionClick()">
            {{list?.Name}}</mat-option>
        </mat-select>
    
      </mat-form-field>
</div>


<div class="form-control-sam" *ngIf="!isMultiple">
  <mat-form-field [appearance]="formFieldAppearance" [floatLabel]="floatLabel">
    <mat-label appRemoveAriaOwns >{{title}}</mat-label>
      <mat-select [formControl]="IdControl" [disableOptionCentering]="true" [required]="required">
        <mat-option>
          <ngx-mat-select-search class="mat-selec-search-youxta" [formControl]="FilterCtrlSubList"
              [noEntriesFoundLabel]="'No record Found'" [placeholderLabel]="'Search'" [clearSearchInput]="false">
              
          </ngx-mat-select-search>
      </mat-option>
       <mat-option value="all">All</mat-option>
        <mat-option *ngFor="let list of subList| subListFilter:searchInput" 
        [value]="list?.id">
          {{list?.Name}}</mat-option>
      </mat-select>
  
    </mat-form-field>
</div>