<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings></connectionStrings>
  <appSettings>
    <add key="Atatus:AppName" value="ATS"/>
    <add key="Atatus:LicenseKey" value="abc"/>
    <add key="Atatus:Analytics" value="true"/>
    <add key="Atatus:CaptureBody" value="all"/>
    <add key="Atatus:AppName" value="ATS"/>
    <add key="Atatus:LicenseKey" value="abc"/>
    <add key="CoderByteToken" value="abc"/>
    <add key="MettlTestResults" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\Mettl\"/>
    <add key="ResumesPath" value="\\IGDNIWVDE01\dbfiles\sharing\Ayat\document\Resumes\"/>
    <add key="UmappedResumesPath" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\Unmapped\"/>
    <add key="OfferLetterPath" value="\\IGDNIWVDE01\dbfiles\sharing\Ayat\document\Resumes\Offers\"/>
    <add key="WebApiBaseUrl" value="http://aspire.infogain.com/aspiresso"/>
    <add key="ProfilePicturePath" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\ProfilePicture\"/>
    <add key="ProfileVideoPath" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\ProfileVideo\"/>
    <add key="ProfileIdPath" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\IDProof\"/>
    <add key="SharePointVideoPathInterview" value="TestInterview\ProfileVideo\"/>
    <add key="SharePointVideoPathOnboard" value="TestOnboard\ProfileVideo\"/>
    <add key="SharePointSiteId" value="abcf"/>
    <add key="SharePointDriveId" value="abc"/>
    <add key="NotificationEnable" value="1"/>
    <add key="CIDPrefix" value="C"/>
    <add key="TalentAttachments" value="\\IGDNIWVDE01\sharing\Resumes\ProfilePicture\"/>
    <add key="TalentApprovalAttachments" value="\\IGDNIWVDE01\sharing\Resumes\TalentApprovalAttachments\"/>
    <add key="AppoinmentLetterPath" value="\\IGDNIWVDE01\sharing\Ayat\document\AppoinmentLetter\HR\"/>
    <add key="TalentWmgAttachments" value="\\IGDNIWVDE01\sharing\Ayat\document\ATS\TalentWmgAttachments\"/>
    <add key="staticpathPhoto" value="\\ipagfileserver\Photos\"/>
    <add key="TNIAdmin" value="1"/>
    <add key="TNIAppId" value="1"/>
    <add key="ITSAppId" value="1"/>
    <add key="LMSAppId" value="11"/>
    <add key="SignaturePath" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\Onboard\Signature\"/>
    <add key="OfferSignaturePath" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\Onboard\CandidateSignature\OfferSignature\"/>
    <add key="AgreementSignaturePath" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\Onboard\CandidateSignature\AgreementSignature\"/>
    <!--Added by jivan for Location wise path-->
    <!--<add key="OnboardFormDocumentsTest" value="\\ipagshareserver\Resumes\Onboard\OnboardFormDocuments\Noida\" />-->
    <add key="OnboardFormDocuments" value="\\ipagshareserver\Resumes\Onboard\OnboardFormDocuments\" />
    <add key="VideoMatchApiUrl" value="https://automation.infogain.com/videoMatch/checkVideo" />
    <add key="VideoMatchApiUserName" value="abc" />
    <add key="VideoMatchApiUserPassword" value="abc" />
    <add key="TechnicalQuestionnairePath" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\TechnicalQuestionnaire\" />
    <add key="OnboardFormDocumentsNoida" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\mercury\Joining Documents\Virtual Joining Files\Noida\" />
    <add key="OnboardFormDocumentsNNT_Bangalore" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\mercury\Joining Documents\Virtual Joining Files\NNT_Bangalore\" />
    <add key="OnboardFormDocumentsBangalore" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\mercury\Joining Documents\Virtual Joining Files\Bangalore\" />
    <add key="OnboardFormDocumentsMumbai" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\mercury\Joining Documents\Virtual Joining Files\Mumbai\" />
    <add key="OnboardFormDocumentsPune" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\mercury\Joining Documents\Virtual Joining Files\Pune\" />
    <add key="OnboardFormDocumentsGurugram" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\mercury\Joining Documents\Virtual Joining Files\Gurugram\" />
    <add key="OnboardFormDocuments" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\Onboard\OnboardFormDocuments\" />
    <add key="IJPPolicyPath" value="\\igdniwvde01\ats\ImpDocs\ats-user-guideline\Internal-Job-Posting-Policy.pdf" />
    <add key="APIKeyEx" value="abc" />
    <add key="APICheckOrigin" value="0" />
    <add key="APIUsername" value="abc" />
    <add key="ApiPassword" value="abc" />
    <!-- AES Encryption Key and IV -->
    <add key="EncryptionKey" value="abc" />
    <add key="EncryptionIV" value="abc" />
    <add key="isEmailProd" value="0" />
    <add key="ImpDocPath" value="\\IGDNIWVDE01\dbfiles\sharing\Ayat\ImpDocs" />
    <add key="FileEncExt" value=".dat" />
    <add key="parseTranscriptApiUrl" value="http://172.18.65.246:8006/parseTranscript/?talent_id=" />
	  <add key="ResumeParseApiURL" value="http://172.18.65.10:8005/resume_rating" />
    <add key="clientId" value="abc" />
    <add key="TenantID" value="abc" />
    <add key="clientSecret" value="abc" />
    <add key="redirectURI" value="http://localhost:4200/login" />
    <add key="GetJDQuestionsUrl" value="http://172.18.65.246:8002/getJDQuestions/?talentId=" />
     <add key="AssessedResumesPath" value="\\IGDNIWVDE01\sharing\Ayat\document\Resumes\Assessed"/>
    <add key="NaukriAPIKey" value="abc" />
    <add key="NaukrijobType" value="hidden" />
    <add key="NaukriIndustry" value="IT Services &amp; Consulting" />
    <add key="NaukriorgName" value="Infogain Solution Pvt.Ltd" />
    <add key="Naukriwebsite" value="https://www.infogain.com" />
    <add key="NaukridistributeTo" value="naukri" />
    <add key="NaukriStageShortlist" value="Shortlisted" />
    <add key="NaukriStageReject" value="Not Shortlisted" />
    <add key="AllowedHosts" value="localhost:52880,igdniwvde01:9596" />
    <add key="AllowedCorsOrigins" value="http://localhost:4200,http://igdniwvde01:9595/" />
    <add key="ExchangeUser" value="abc" />
    <add key="ExchangePassword" value="abc" />
    <add key="ExchangeUser" value="abc" />
    <add key="ExchangePassword" value="abdc" />
    
    <!--<add key="ImpDocPath" value= "\\ipagfileserver\Photos\ATS\ImpDocs"/>-->
  </appSettings>
  <!--For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web> -->
  <system.web>
    <!--<customErrors mode="Off"/>-->
    <authentication mode="None" />
    <!--<customErrors mode="On" defaultRedirect="~/Home">
    </customErrors>-->
    <customErrors mode="Off" />
    <compilation targetFramework="4.8" debug="true" />
    <globalization culture="en-US" uiCulture="en-US" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" executionTimeout="3600" enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    <rewrite>
      <outboundRules>
        <rule name="Remove Server Header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="WebDAV" />
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0b" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="false" allowHighBitCharacters="false">
        <requestLimits maxQueryString="2048" maxAllowedContentLength="2147483648" />
        <verbs allowUnlisted="true">
          <add verb="METHODS" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="HEAD" allowed="false" />
          <add verb="PROPFIND" allowed="false" />
          <add verb="COPY" allowed="false" />
          <add verb="LOCK" allowed="false" />
          <add verb="UNLOCK" allowed="false" />
          <add verb="PROPPATC" allowed="false" />
          <add verb="MKCOL" allowed="false" />
          <add verb="MOVE" allowed="false" />
        </verbs>
        <fileExtensions allowUnlisted="true">
          <add fileExtension="." allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <modules>
      <add name="AtatusModule" type="Atatus.AspNetFullFramework.AtatusModule, Atatus.AspNetFullFramework" />
    </modules>
    
    <!-- Ensures custom error responses from Web API are not replaced by IIS -->
    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="Permissions-Policy" value="geolocation=(), microphone=()" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self'" />

      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.21.0" newVersion="1.0.21.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.17.1.0" newVersion="0.17.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
	
</configuration>
<!--ProjectGuid: {D0701FB5-42F4-4B4E-8764-68374C83EA49}jnkj-->
