.hlt{
    font-size: 11px;
    padding: 1px 6px;
    background: #faf727;
    margin-top: 3px;
  }
  .guid{
    font-size: 11px;
    padding: 3px 6px;
    margin-top: 3px;
    color: #ffffff;
    font-family: Arial;
    background: #166196;
    text-decoration: none;
    &:hover{
     opacity: 0.9;
    }
  }
  .view-list-dt-wrap {
    padding: 4px;
}
  .view-list-dt-appr .view-list-bx{
    width: 33.3%;
  }
  .consent-error {
    color: #ff0000c9;
    border: solid 0.1px;
    padding: 3px 9px;
}

.width-480 {
    width: 480px;
}