.dvv-col-aii{
    display: flex;
    flex-wrap: wrap;
    .dvv-col-aii-inn{
        width:100%;
        padding: 10px;
    }
    .view-feedback-questionnaire-screen{
        margin-top: 0!important;
         .question-section {
            box-shadow: 0px 0px 4px #00000026 !important;
            border: solid 1px #f6f9fb !important;
            margin: 0;
            padding: 7px 7px;
        }
        .header-question-type-wrap {
            background-color: #1f6a9f !important;
            color: #f6f9fb !important;
            max-height: 37px;
            padding: 6px 10px;
            h4.header {
                font-size: 13px;
            }
        }

        .table-mat-info.table-mat-info-fdp th.mat-header-cell, .table-mat-info.table-mat-info-fdp td.mat-footer-cell, .table-mat-info.table-mat-info-fdp td.mat-cell {
            font-size: 11px;
            padding: 4.5px 7px !important;
        }
    }
}


.table thead th {
    
    
}
.tb-rtlv {
    thead{
        th{
            background: #11517f;
            color: #ffff;
            font-weight: normal;
            vertical-align: middle;
            border-bottom: 1px solid #dee2e6;
        }
    }
}

.full-width {
    width: 100%;
}