<div class="form-row" *ngIf="!isMultiple">
    <mat-form-field  [appearance]="formFieldAppearance"  [floatLabel]="floatLabel" class="place-from-control">
      <mat-label appRemoveAriaOwns >{{GradeTitle}}</mat-label>
      <mat-select [formControl]="gradeControlOpt"   (selectionChange)="getSelectId($event)">
        <mat-option value="all">All</mat-option>
        <mat-option *ngFor="let list of gradeList | gradePipe:searchInputGrade" [value]="list?.GRADE_ID">{{list?.GRADE_NAME}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <!-- <div class="form-row" *ngIf="isMultiple">
    <mat-form-field appearance="outline" class="place-from-control">
      <mat-label appRemoveAriaOwns >{{companyLocationTitle}}</mat-label>
      <mat-select formControlName="location"   (selectionChange)="getSelectId($event)">
        <mat-option value="all">All</mat-option>
        <mat-option *ngFor="let list of locationData" [value]="list?.LocID">{{list?.LocName}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div> -->

  <div class="select-ats-src" *ngIf="isMultiple">
    <mat-form-field [appearance]="formFieldAppearance"  [floatLabel]="floatLabel">
      <mat-label appRemoveAriaOwns >{{GradeTitle}}</mat-label>
        <mat-select [formControl]="gradeControlOpt" [disableOptionCentering]="true" [required]="required" multiple
            #select>
            <mat-select-trigger>
                {{multiSelectedVal?.length !== 0 ? multiSelectedVal[0]?.viewValue : ''}}
                <span *ngIf="gradeControlOpt?.value?.length > 1" class="example-additional-selection">
                    (+{{multiSelectedVal.length - 1}} {{gradeControlOpt?.value?.length === 2 ? 'other' : 'others'}})
                </span>
            </mat-select-trigger>
            <br>
            <mat-option>
                <ngx-mat-select-search class="mat-selec-search-youxta" [formControl]="FilterCtrlGrade"
                    [noEntriesFoundLabel]="'No record Found'" [placeholderLabel]="placeholder"
                    [clearSearchInput]="false">

                </ngx-mat-select-search>
            </mat-option>
            <div class="select-all">
                <mat-checkbox [(ngModel)]="allSelected" (change)="toggleAllSelection()">Select All</mat-checkbox>
            </div>
            <mat-option *ngFor="let list of gradeList | gradePipe:searchInputGrade" [value]="list.GRADE_ID"
                (click)="optionClick()">
                {{list?.GRADE_NAME}} 
            </mat-option>
        </mat-select>

    </mat-form-field>
</div>