<div class="ats-modal-header">
  <h3>Complete Employment Application Form First</h3>
  <!-- <button class="btn-m-close" type="button" (click)="closeModal()">
    <i class="fa fa-times"></i>
  </button> -->
</div>

<div mat-dialog-content>
  <div class="ats-modal-body">
    <div class="vs-cs-modal-content">
      <p>
        Kindly fill the Employment Application form & upload the documents first to proceed with the
        background verification process. This form is essential for us to collect
        necessary information about your employment history, qualifications, and
        other relevant details. The information you provide will be used to verify
        your background and ensure that it aligns with the requirements of the
        position you are applying for. 
      </p>
      <!-- <p>
        If you join the organization, this information will be used for
        employment-related purposes, including administrative benefits, payroll,
        and HR management. If you do not join, your data will be retained only
        for a specified period in accordance with company policy and legal
        requirements, after which it will be securely deleted to protect your
        privacy and prevent unauthorized access or use.
      </p> -->
    </div>
  </div>
</div>
<div class="ats-modal-footer text-center">
  <button type="submit" class="btn btn-infocon" (click)="submitConsent()">
    Go To Employment Application Form
  </button>
</div>
