<form [formGroup]="updateBuddyForm" (ngSubmit)="AddUpdateBuddy(updateBuddyForm)">
    <div class="ats-modal-header">
        <!-- <h1>{{data?.title}} - {{TalentData?.talent_id}}</h1> -->
         <h1 *ngIf="data.type=='U'">Update Buddy</h1>
         <h1 *ngIf="data.type=='N'">Assign Buddy</h1>
        <button class="btn-m-close" type="button" (click)="closeModal()"><i class="fa fa-times"></i></button>
    </div>
    <div mat-dialog-content>
        <div class="ats-modal-body ats-form-ui-enhance-font">
            <div class="box-v-ats">
                <div class="box-v-body">
                    <div class="view-list-dt-wrap view-list-dt-appr box-shadow-c view-list-dt-rp">
                        <div class="view-list-bx">
                            <h4>CID:</h4>
                            <p>{{data.cid|| '-'}}</p>
                        </div>
                        <!-- end -->
                        <div class="view-list-bx">
                            <h4>Employee Name:</h4>
                            <p>{{data.name|| '-'}}</p>
                        </div>

                        <!-- end -->
                        <!-- end -->
                        <!-- <div class="view-list-bx">
                            <h4>Employee ID:</h4>
                            <p>{{data.EmpId|| '-'}}</p>
                        </div> -->
                        <div class="view-list-bx">
                            <h4>Account:</h4>
                            <p>{{data.ACCOUNT_NAME || '-'}}</p>
                        </div>
                        <div class="view-list-bx">
                            <h4>Buddy:</h4>
                            <p>{{ data.Buddy || '-' }}</p>
                        </div>
                        <div class="view-list-bx">
                            <h4>Location:</h4>
                            <p>{{data.LOCATION_NAME || '-'}}</p>
                        </div>
                      
                      
                        <!-- validate ends-->
                    </div>
                </div>
            </div>

            <!-- <div class="form-up" *ngIf="data.type=='U'"> -->
                <div class="form-up" >
                <div class="ats-forms ats-forms-horz  ats-form-normal-font ats-forms-horz3 form-outline-ats ats-form-dark">
                    
                    <div class="ats-form-col"><mat-form-field appearance="outline">
                    <mat-label appRemoveAriaOwns>Buddy List</mat-label>
                    <mat-select formControlName="buddyName"
                        >
                        <mat-option>
                            <ngx-mat-select-search class="mat-selec-search-youxta"
                                [formControl]="FilterCtrl"
                                [noEntriesFoundLabel]="'No record Found'"
                                [placeholderLabel]="'Search'" [clearSearchInput]="false">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                            *ngFor="let list of buddyList | buddyListFilter:searchInput"
                            [value]="list?.EmpId">{{list?.EmpName}} {{list?.EmpId}} ({{list.BuddyDesignation}})</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
                </div> 
            </div>
        </div>

    </div>
    <div class="ats-modal-footer text-center">
    
        <button class="btn btn-infocon">
            Update
        </button>
        <button type="button" class="btn btn-simple-ats" (click)="closeModal()">Cancel
        </button>
    </div>
</form>